.history-btn-wrap{
    display: flex;
    justify-content: center;
    padding:60px 0;
    
}
#history-btn-1{
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    background-color: white;
    color: #0F1A3B;
    width: 180px;
    height: 40px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#history-btn-2{
    border: 1px solid #0F1A3B;
    background-color: white;
    color: #0F1A3B;
    width: 180px;
    height: 40px;
    font-weight: bold;
}
#history-btn-3{
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    background-color: white;
    color: #0F1A3B;
    width: 180px;
    height: 40px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#inner-wrap{
    width: 1140px;
    /* height: 500px; */
    margin: 0 auto;
    box-sizing: border-box;

}
#conut-wrap{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#movie-History{
    font-size: 28pt;
}
#movie-count{
    color: #E59500;
    s
    font-size: 30pt;
    font-weight: bold;
}
.movie-detail-info{
    width: 935px;
    height: 350px;
    border: 1px solid #E59500;
    border-radius: 10px;
    margin: 100px auto;
    box-sizing: border-box;
    
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    position:relative;
    
}
.movie-poster{
    width: 185px;
    height: 260px;
    margin-top: 45px;
    margin-left: 45px;
    
}
.info-wrap-1{
    margin-top: 30px;
    margin-left: 20px;
}
.movie-name{
    font-size: 15pt;
    margin: 10px 20px;
    font-weight: 800;
    color: #393939;
}
.detail-wrap{
    display: flex;
    margin: 10px 20px;

    
}
.info-title{
    font-weight: 600;
    color: #585858;
}
.info-details{
    left: 45%;
    position:absolute;
    font-weight: 300;
    color: #585858;
}
.info-wrap-2{
    position:absolute;
    left: 70%;
    margin-top: 30px;
    margin-left: 20px;
    width: 200px;
    padding-top: 30px;
    display: flex;
}
.detail-wrap-2{
    display: flex;
    margin: 10px 20px;
}
.info-title-2{
    font-weight: 600;
    color: #585858;
    
}
.info-details-2{
    position:absolute;
    left: 65%;
    font-weight: 300;
    color: #585858;
}
#paging-wrap{
    display: flex;
    margin-bottom: 300px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 10pt;
}
a, ul, li{
    text-decoration: none;
    list-style: none;
    color: #393939;
}
li{
    margin: 10px;
}
.delete-btn, .review-btn{
    width: 90px;
    height: 35px;
    border-style: solid;
    border-width: 1px;
    font-weight: 800;
    margin: 5px;
}
.delete-btn{
    background-color: white;
    color: #585858;
}
.review-btn{
    background-color: #0F1A3B;
    color: white;
}
.btn{
    display: flex;
    margin-top: 100px;
    /* margin-left: 690px; */
    /* margin-bottom: 700px; */
}