#homepage-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

#homepage-tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homepage-tab-item {
  width: 150px;
  height: 50px;
  flex-grow: 1;
}

.homepage-tab-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  cursor: default;
}

.homepage-tab-item a:hover {
  border-bottom: 3px solid #0f1a3b;
}
