@charset "UTF-8";

.widecinema-wrapper {
	width : 1200px;
	margin : 0 auto;
}
.cinema-wrapper {
	width : 680px;
	margin : 0 auto;	
}
.usercinema-wrapper {
	width : 1000px;
	margin : 0 auto;
	padding-top : 60px;
}

/* adminCinemaRegister(관리자) */
.title {
	flaot : left;
	color : #0F1A3B;
}
.input {
	float : right;
}
#title-wrap {
	width : 430px;
	margin-bottom : 25px;
}
	#title-input {
		width : 300px;
		height : 25px;
		border : solid 1px #0F1A3B;
	}
#area-wrap {
	width : 310px;
	margin-bottom : 25px;
}
	.area-input {
		margin-left : 15px;
		margin-right : 5px;
	}
#plus-address {
	width : 495px;
	margin-bottom : 10px;
}
#detail-address {
	width : 430px;
	margin-bottom : 55px;
}
	#address-title {
		display : inline;
	}
	#sample4_roadAddress {
		width : 300px;
		height : 25px;
		border : solid 1px #0F1A3B;
	}
	#sample4_detailAddress {
		width : 300px;
		height : 25px;
		border : solid 1px #0F1A3B;		
	}
	#address-button {
		width : 55px;
		height : 25px;
		color : white;
		background-color : #0F1A3B;	
		margin-left : 10px;
	}
#tel-wrap {
	width : 430px;
	margin-bottom : 25px;
}
	#tel-input {
		width : 300px;
		height : 25px;
		border : solid 1px #0F1A3B;
	}
#one-wrap {
	width : 430px;
	margin-bottom : 25px;
}
	#one-input {
		width : 300px;
		height : 25px;
		border : solid 1px #0F1A3B;
	}
.ride-wrap {
	width : 530px;
	margin-bottom : 90px;	
}
	.ride-input {
		width : 400px;
		height : 80px;
		float : right;
		resize : none;
		border : solid 1px #0F1A3B;
	}
#imgfile-wrap {
	width : 515px;
	margin-bottom : 25px;
}
.file-wrap {
	float : right;
}	
#file-wrap {
	float : right;
}	
.file-wrap #imgload-name {
	display : inline-block;
	height : 25px;
	padding : 0 10px;
	vertical-align : middle;
	border : solid 1px #0F1A3B;
	width : 300px;
	color : #0F1A3B;
}
#file-wrap #imgload-name {
	display : inline-block;
	height : 25px;
	padding : 0 10px;
	vertical-align : middle;
	border : solid 1px #0F1A3B;
	width : 300px;
	color : #0F1A3B;
}
.file-wrap label {
	display : inline-block;
	color : #fff;
	padding : 5px 5px 5px 5px;
	vertical-align : middle;
	background-color : #0F1A3B;
	cursor : pointer;
	width : 70px;
	height : 25px;
	text-align : center;
	font-size : 12px;
	margin-left : 10px;
}
#file-wrap label {
	display : inline-block;
	color : #fff;
	padding : 5px 5px 5px 5px;
	vertical-align : middle;
	background-color : #0F1A3B;
	cursor : pointer;
	width : 70px;
	height : 25px;
	text-align : center;
	font-size : 12px;
	margin-left : 10px;
}
.file-wrap input[type="file"] {
	position : absolute;
	width : 0;
	height : 0;
	padding : 0;
	overflow : hidden;
	border : 0;
}
#file-wrap input[type="file"] {
	position : absolute;
	width : 0;
	height : 0;
	padding : 0;
	overflow : hidden;
	border : 0;
}
.button-list {
	float : right;
	margin-bottom : 100px;
}
.go-list {
	width : 100px;
	height : 30px;
	margin-right : 10px;
	color : #0F1A3B;
	border : solid 1px #0F1A3B;
	background-color : white;
}
#cinemaregister-button {
	width : 100px;
	height : 30px;
	background-color : #0F1A3B;
	border : solid 1px #0F1A3B;
	color : white;
}

/* adminCinemaList(관리자) */
#cinemalist-top {
	margin-bottom : 60px;
	display : flex;
}
	#cinemalist-text {
		margin-top : 10px;
		margin-right : 890px;
	}
	.cinemalist-button {
		width : 100px;
		height : 40px;
		color : white;
		margin-left : 10px;
		border : solid 1px #0F1A3B;
		background-color : #0F1A3B;
		float : right;
	}
.cinemalist-title {
	display : flex;
}
	.list-area {
		width : 120px;
		margin-top : 20px;
		margin-bottom : 20px;
		margin-left : 12px;
	}
	.list-name {
		width : 240px;
		margin-top : 20px;
		margin-bottom : 20px;
	}
	.list-address {
		width : 380px;
		margin-top : 20px;
		margin-bottom : 20px;
	}
	.list-tel {
		width : 220px;
		margin-top : 20px;
		margin-bottom : 20px;
	}
	.list-theater {
		width : 150px;
		margin-top : 20px;
		margin-bottom : 20px;
	}
	.ctheater-button {
		width : 60px;
		height : 30px;
		margin-top : 13px;
		margin-right : 10px;
		color : white;
		border : solid 1px #0F1A3B;
		background-color : #0F1A3B;
	}
/* adminCinemaDetail(관리자) */
.cinema-detailtitle {
	width : 180px;
	height : 60px;
}
#cinemadetail-buttonwrap {
	display : flex;
	margin-top : 50px;
	margin-bottom : 50px;
	float : right;
}
	.cinemadetail-button {
		width : 100px;
		height : 30px;
		margin-left : 20px;
	}
	#cdupdate-button {
		color : #0F1A3B;
		border : solid 1px #0F1A3B;
		background-color : white;
	}
	#cddelete-button {
		color : #0F1A3B;
		border : solid 1px #0F1A3B;
		background-color : white;	
	}
	#cdlist-button {
		color : white;
		border : solid 1px #0F1A3B;
		background-color : #0F1A3B;
	}
/* adminCinemaModify(관리자) */
.modifycinema-wrap {
	width : 800px;
	display : flex;
	margin-bottom : 40px;
}
.modifyaddress-wrap {
	width : 800px;
	display : flex;
	margin-bottom : 2px;
}
	#modify-address {
		margin-bottom : 38px;
	}
.first {
	width : 20%;
	margin-top : 10px;
}
.second {
	width : 80%;
	margin-top : 10px;
}
	#area-modify {
		margin-right : 10px;
	}
	.area-modify {
		margin-right : 10px;
		margin-left : 15px;
	}
	.ride-modify {
		width : 400px;
		height : 80px;
		resize : none;
		border : solid 1px #0F1A3B;
	}
	#imgmodify-wrap {
		width : 545px;
		margin-bottom : 25px;
	}
	#imgmodify-wrap #imgmodify-name {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	#modifyadd-wrap {
		width : 545px;
		margin-top : -19px;
	}
	#modifyadd-wrap #modifyadd-name {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		margin-right : 5px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
#modify-buttonarea {
	margin-top : 30px;
	margin-bottom : 50px;
	float : right;
}
.modify-button {
	width : 80px;
	height : 30px;
}
	#modify-list {
		color : #0F1A3B;
		border : solid 1px #0F1A3B;
		background-color : white;
	}
	#modify-done {
		color : white;
		border : solid 1px #0F1A3B;
		background-color : #0F1A3B;
	}

/* userCinemaList(사용자) */
#userCinema-img {
	width : 100%;
	height : 400px;
}
.ucinemalist-outside {
	width : 100%;
	height : 250px;
}
.ucinemalist-inside {
	width : 220px;
	height : 160px;	
	margin-right : 50px;
	float : left;
	border : solid 1px #0F1A3B;
}
.one-cinema {
	width : 180px;
	height : 120px;
	margin : 0 auto;
	margin-top : 20px;
}
	.favorite-cinema {
		width : 30px;
		height : 30px;
	}
		.cinema-fontwrap {
			margin-top : 10px;
		}
			.cinema-font {
				font-size : 13px;
			}
		.cinema-buttonwrap {
			margin-top : 15px;
		}
			.cinema-button {
				width : 60px;
				height : 20px;
				font-size : 12px;
				background-color : white;
				border : solid 1px #0F1A3B;
				border-radius : 10px;
			}
			
/* userCinemaDetail(사용자) */
.cinemaImg-wrapper {
	width : 100%;
	height : 450px;
	margin-top : -5px;
}
	.cinemaImg {
		width : 100%;
		height : 450px;
	}
.usercinema-bottom {
	margin-bottom : 25px;
}
	#usercinema-listbutton {
		width : 100px;
		height : 30px;
		color : #0F1A3B;
		background-color : white;
		border : solid 1px #0F1A3B;
	}
#movie-menu {
	width : 100%;
	height: 50px;
	margin-bottom : 50px;
}
	.cinema-on {
		width : 50%;
		height: 40px;
		float : left;
		margin-top : 20px;
		text-align : center;
		font-size : 14px;
		line-height : 40px;
		border : solid 1px #0F1A3B;
		color : white;
		background-color : #0F1A3B;
	}
	.cinema-off {
		width : 50%;
		height: 40px;
		float : left;
		margin-top : 20px;
		text-align : center;
		font-size : 14px;
		line-height : 40px;
		border : solid 1px #0F1A3B;
		color : #0F1A3B;
		background-color : white;
	}
	.usercinema-under {
		margin-bottom : 50px;
	}
	#cinema-park {
		white-space: pre;
		line-height: 1.8em;
	}
	#cinema-public {
		white-space: pre;
		line-height: 1.8em;
	}
/* cinemaMovie(사용자) */
.cinema-movie-year-month {
	margin-bottom : 20px;
}
.tmday-button {
	width : 120px;
	height : 40px;
	font-size : 15px;
	margin-top : 20px;
	background-color : #fff;
}
.choice-movie-list {
	width : 180px;
	height : 80px;
	padding-top : 20px;
	padding-left : 20px;
	margin-bottom : 20px;
	border : solid 1px #0F1A3B;
	border-radius : 15px;
}