#findIdForm{
    margin: 0 auto;
    padding: 0 100px;
    width: 800px;
    height: 500px;
    /* background-color: rgb(244, 244, 244); */
    box-sizing: border-box;
}
#findIdTitle{
    text-align: center;
    color: #0F1A3B;
    margin-top: 120px;
    margin-bottom: 70px;

}
.findId-input{
    line-height: 25px;
}
.input-wrap{
    display: flex;
    height: 50px;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.input-box{
    flex: 0 1 auto;
    box-sizing: border-box;
    width: 80%;
    height: 45px;
    margin: 0 auto;
    padding: 0 12px;
    border: 0.3px solid #0F1A3B;
    border-radius: 4px;
    background-color: #fff;
    font-size: 13px;
    font-weight: 800;
    color: #000;
    box-shadow: 0 0 0 30px #fff inset!important;
    transition: border .2s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
#container{
    /* background-color: rgb(244, 244, 244); */
    box-sizing: border-box;
    max-width: 385px;
    min-height: calc(100vh - 50px);
    margin: 0 auto;
    padding-bottom: 100px;
    line-height: 21px;
    text-align: center;
}
#find-btn{
    margin-top: 20px;
    width: 80%;
    height: 50px;
    background-color: #0F1A3B;
    border-radius: 0%;
    color: #ffffff;
    font-weight: bold;
    
}
.confirm-btn{
    width: 130px;
    height: 45px;
    border: 1px solid #0F1A3B;
    display: flex;
    margin: 10px 10px;
    text-align: center;
}