@font-face {
  font-family: mice-bold;
  src: url('../font/MICEGothic\ Bold.ttf');
}

/* 사용자 */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  z-index: 10;
}

#navbar-links {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 0;
  width: 17%;
  font-size: 14px;
}

#navbar-links li {
  padding: 5px;
}

#navbar-menuList {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 5px;
}

#navbar-logo {
  padding: 0px 15px 7px 15px;
  margin: 0 10px;
}

.navbar-menuItem {
  width: 300px;
  text-align: center;
}

.navbar-menuItem a {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
}

.navbar-menuItem a:hover {
  border-bottom: 3px solid #f0c808;
}

.navbar-toggleBtn {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
}

#xmark {
  left: 13px;
}

@media screen and (max-width: 768px) {
  #navbar-menuList {
    flex-direction: column;
    align-items: center;
  }
  #navbar-logo {
    order: -1;
  }
  .navbar-menuItem {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar-menuItem a {
    padding: 10px 0;
  }
  .navbar-menuItem a:hover {
    border-bottom: none;
    background-color: #fcf4c1;
    font-family: mice-bold;
  }
  #navbar-links {
    justify-content: flex-end;
    width: 100%;
    right: 10px;
  }
  .show {
    display: block;
  }
  .active {
    display: flex;
  }
}

/* 관리자 */
#navbar.admin {
  font-size: 15px;
}

#navbar-menuList.admin {
  align-items: center;
  padding: 0;
}

#navbar-logo.admin {
  padding: 0 15px;
  margin: 0px;
}

.navbar-menuItem.admin a {
  padding: 25px 0;
}

.navbar-menuItem.admin a:hover {
  font-family: mice-bold;
  border-bottom: none;
  background-color: #0f1a3b;
  color: #fff;
}

.defaultImg {
  width: 30px;
  height: 30px;
  background: url('https://www.freeiconspng.com/uploads/profile-icon-9.png') 50% 50% / cover no-repeat;
}
