@font-face {
  font-family: mice-bold;
  src: url('../font/MICEGothic\ Bold.ttf');
}

#main-banner-wrap video {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

#main-wrap {
  width: 100%;
  margin: 0 auto;
}

#main-wrap h2 {
  text-align: center;
  padding: 10px 0 40px 0;
}
#main-wrap h2 > a {
  border-bottom: 2px solid #0f1a3b;
}

#main-wrap h2 > a,
#main-wrap h3 > a {
  font-family: mice-bold;
  padding: 3px 0;
}

#main-wrap img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

#main-wrap > div {
  padding: 50px 0;
}

#movie-chart-list,
#store-best-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.movie-chart-item,
.store-best-item {
  width: 250px;
  flex-shrink: 1;
  margin: 0 30px;
}

.movie-chart-item > div:nth-child(2),
.store-best-item > div:nth-child(2) {
  padding: 5px 0;
}

.movie-title,
.product-name {
  font-size: 20px;
}

#support-preview-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#notice-preview-wrap,
#faq-preview-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 1;
  width: 570px;
  height: 250px;
  margin: 0 20px;
  border: 1px solid #0f1a3b;
  border-radius: 10px;
  padding: 20px;
}

#faq-preview-wrap > h3,
#notice-preview-wrap > h3 {
  padding-bottom: 20px;
}

#faq-preview-list,
#notice-preview-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.faq-preview-item,
.notice-preview-item {
  display: block;
  padding: 5px 0;
}

@media screen and (max-width: 900px) {
  #movie-chart-list,
  #store-best-list {
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
  }
  .movie-chart-item,
  .store-best-item {
    flex-grow: 1;
    padding-bottom: 20px;
  }
  #support-preview-list {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  #faq-preview-wrap,
  #notice-preview-wrap {
    width: 80%;
    flex-grow: 1;
    margin-bottom: 20px;
  }
  .faq-preview-item,
  .notice-preview-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
