#joinSucceseForm{
    margin: 200px auto;
    padding: 0 100px;
    width: 800px;
    height: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    color: #323232e3;
    text-align: center;

}
#succeseMessage{
    font-size: 25pt;
    font-weight: 500;
    
}
#main-btn{
    margin-top: 60px;
    width: 50%;
    height: 50px;
    background-color: #0F1A3B;
    border-radius: 0%;
    color: white;
    font-weight: 500;
    line-height: 50px;
}
a{
    text-decoration: none;
    text-align: center;
    vertical-align: middle;

}