@font-face {
  font-family: mice-bold;
  src: url('../font/MICEGothic\ Bold.ttf');
}

button,
a:hover {
  cursor: pointer;
}

a {
  color: black;
}

/* Mate Start Page */

.mate-start-wrapper {
  width: 100%;
  background-image: url('/resources/images/mate/mate_start.jpg');
  background-size: cover;
  background-color: black;
  height: 2000px;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#header-first {
  opacity: 0;
  padding: 60px 0 0 80px;
  font-size: 50px;
  color: whitesmoke;
  line-height: 1.5em;
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#header-second {
  opacity: 0;
  padding: 0 0 0 80px;
  font-size: 50px;
  color: whitesmoke;
  line-height: 1.5em;
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@keyframes motion {
  0% {
    padding-top: 0px;
  } /* 처음 위치 */
  100% {
    padding-top: 10px;
  } /* 마지막 위치 */
}

.slide-icon-area {
  /* display: block; */
  width: 100%;
  position: absolute;
  top: 88%;
  /* padding: 150px; */
  text-align: center;
  z-index: 5;
  cursor: pointer;
  animation: motion 0.5s /* 속도 */ linear 0s /* 처음부터 끝까지 일정 속도로 진행 */ infinite alternate; /* 무한 반복 */
}

.slide-icon {
  color: whitesmoke;
  opacity: 0;
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* 약관동의 박스 */
#agreement-area {
  position: absolute;
  top: 120%;
  width: 100%;
  padding-top: 120px;
  text-align: center;
}

#agree-txt-box {
  text-align: left;
  width: 1000px;
  margin: 0 auto;
  background-color: whitesmoke;
  opacity: 0.8;
  border-radius: 10px;
  padding: 30px;
  line-height: 2rem;
}

.agreement-content {
  white-space: pre-wrap;
}

#mate-agree-btn {
  width: 200px;
  height: 50px;
  background-color: #e59500;
  color: white;
  font-size: 20px;
  margin: 50px auto;
  border-radius: 5px;
  font-family: mice-bold;
  letter-spacing: 1.5px;
}

.mate-agree-hr {
  margin: 10px 0;
  border: none;
  height: 1px;
  background-color: lightgray;
}

.agree-checkbox {
  accent-color: #e59500;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
}

.mate-agree-check {
  display: flex;
  align-items: center;
}

/* Mate List Page */
#mypage-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#now-level {
  width: 80px;
  height: 30px;
  border-radius: 15px 15px 15px 15px;
  background-color: #173d88;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

#editProfile {
  color: rgb(82, 82, 82);
  font-weight: 600;
  display: flex;
  align-items: center;
}
#pen {
  font-size: 23px;
  color: #e59500;
  margin-right: 10px;
}
#profile-img {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}
#img-frame {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

#bangabanga {
  font-size: 15pt;
  font-weight: 700;
  color: rgb(81, 81, 81);
}
.level-name {
  color: rgb(81, 81, 81);
  font-size: 13pt;
  font-weight: 700;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}

#level-bar-wrap {
  margin-left: 30px;
  margin-right: 30px;
}
.level-bar {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  background-color: #dedede;
  font-weight: 600;
  font-size: 0.8rem;
}

.level-bar .level {
  margin-top: 10px;
  width: 72%;
  height: 30px;
  padding: 0;
  text-align: center;
  background-color: #e59500;
  color: #111;
}
.level-count {
  color: rgb(81, 81, 81);
  font-size: 13pt;
  font-weight: 700;
  display: flex;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 20px;
  justify-content: space-between;
}
#bottom-line {
  border: 0.3px solid #efefef;
  margin-top: 70px;
}
.point-mate {
  display: flex;
  justify-content: space-evenly;
}
.my-point-wrap {
  display: flex;
}

.mate-wrap {
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(82, 82, 82);
}

.mate-count-bar {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  background-color: #dedede;
  font-weight: 600;
  font-size: 0.8rem;
}

.mate-count-bar .mate-count {
  margin-top: 10px;
  width: 72%;
  height: 30px;
  padding: 0;
  text-align: center;
  background-color: #0f1a3b;
  color: #111;
}

#back-navy {
  width: 100%;
  height: 415px;
  background-color: #0f1a3b;
  opacity: 0.9;
  position: relative;
}

#mymate-wrap {
  position: absolute;
  top: 200px;
  width: 100%;
  z-index: 1;
  background-color: none;
}

#mymate-form {
  position: relative;
  padding: 20px 30px;
  overflow: hidden;
  width: 820px;
  height: 410px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 5px 5px 5px -1px rgb(199, 199, 199);
}

.point-mate {
  height: 98px;
  align-items: center;
}

.my-point-wrap {
  align-items: center;
}

.matching-btn {
  color: whitesmoke;
  width: 200px;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
}

/* Matching On/Off Toggle Button */
.matching-toggle-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 160px;
  bottom: 34px;
  right: 30px;
}

.match-toggle-switch {
  width: 4rem;
  height: 2rem;
  display: block;
  position: relative;
  border-radius: 2rem;
  background-color: #fff;
  border: solid 1.5px #0f1a3b;
  cursor: pointer;
}

.match-toggle-switch .match-toggle-btn {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  top: 50%;
  left: 0.1rem;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #0f1a3b;
}

.match-toggle-switch.active {
  background: #0f1a3b;
}

.match-toggle-switch.active .match-toggle-btn {
  left: calc(100% - 1.8rem);
  background: #fff;
}

.match-toggle-swtich,
.match-toggle-btn {
  transition: all 0.2s ease-in;
}

.mate-wrapper {
  position: relative;
  width: 1000px;
  margin: 200px auto;
}

.matching-result-wrapper {
  width: 1000px;
  margin: 100px auto;
}

.mate-title {
  font-size: 22px;
  padding: 0 0 20px 10px;
  border-bottom: 1px solid lightgray;
}

.mate-list-row {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  font-size: 16px;
  border-bottom: 1px solid lightgray;
  align-items: center;
}

.match-date-col {
  width: 15%;
  text-align: center;
}

.mate-profile-col {
  width: 30%;
  text-align: center;
}

.mate-location-col {
  width: 15%;
  text-align: center;
}

.mate-genre-col {
  width: 20%;
  text-align: center;
}

.chat-btn-col {
  width: 15%;
  text-align: right;
}

.delete-btn-col {
  width: 15%;
  text-align: center;
}

.btn {
  color: whitesmoke;
  width: 100px;
  height: 35px;
  font-size: 16px;
  border-radius: 8px;
}

.yellow {
  background-color: #e59500;
}

.navy {
  background-color: #0f1a3b;
}

/* mateOption.jsp 메이트 옵션 선택 뷰 */
.mate-option-wrapper {
  width: 500px;
  margin: 50px auto;
}

.option-title {
  margin-bottom: 20px;
  font-size: 22px;
  color: #0f1a3b;
  font-family: mice-bold;
}

.option-sex {
  margin-bottom: 30px;
}

.option-age {
  margin-bottom: 30px;
}

.option-location {
  margin-bottom: 30px;
}

.option-genre {
  margin-bottom: 30px;
}

.box-top {
  display: flex;
  height: 60px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid black;
  background-color: #fcf4c1;
  padding-left: 20px;
  font-size: 18px;
  align-items: center;
}

.box-under {
  display: flex;
  padding-left: 20px;
  height: 70px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid black;
  border-top: none;
  font-size: 18px;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.box-genre {
  height: 100px;
}

.mate-label {
  margin-right: 15px;
}

.mate-option-radio {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  accent-color: #0f1a3b;
}

.select-cinema-option {
  width: 200px;
  font-size: 18px;
  height: 30px;
  border-radius: 5px;
}

.next-btn {
  color: whitesmoke;
  width: 100px;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #0f1a3b;
  float: right;
  padding-left: 5px;
}

/* mateComplete (사용자) */
.match-profile-col {
  width: 25%;
  text-align: center;
}

.match-profile-col i {
  color: #f0c808;
  margin-right: 20px;
}

.match-profile-col img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.match-grade-col {
  width: 10%;
  text-align: center;
}

.match-genre-col {
  width: 30%;
  text-align: center;
}

#mate-text {
  height: 50px;
  margin-top: 30px;
  line-height: 50px;
  border-top: solid 1px #0f1a3b;
  border-bottom: solid 1px #0f1a3b;
}
#mate-data {
  height: 60px;
  line-height: 60px;
  border-bottom: solid 1px hsl(225, 59%, 15%);
}
.matecomplete-userimage {
  /* width: 40px;
  height: 40px;
  margin-top: 10px;
  float: left;
  background-color: #e59500;
  border: solid 1px #e59500;
  border-radius: 50%; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.matecomplete-profile {
  width: 40%;
  padding-left: 20px;
  float: left;
  text-align: center;
}
.matecomplete-grade {
  width: 30%;
  float: left;
  text-align: center;
}
.matecomplete-chatting {
  width: 30%;
  float: left;
  text-align: center;
}
.go-chatting {
  width: 100px;
  height: 30px;
  color: white;
  background-color: #e59500;
  border: solid 1px #e59500;
  border-radius: 10px;
}
#matecomplete-button {
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.matecomplete-button {
  width: 100px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  background-color: #0f1a3b;
  border: solid 1px #0f1a3b;
  border-radius: 10px;
  float: left;
}
