#container{
    margin: 0 auto;
    padding: 0 100px;
    width: 800px;
    height: 1200px;
    /* background-color: rgb(244, 244, 244); */
    box-sizing: border-box;
}
#join_header{
    text-align: center;
    color: #0F1A3B;
    margin-top: 50px;
}
.membership-form{
    box-sizing: border-box;
    max-width: 385px;
    min-height: calc(100vh - 50px);
    margin: 0 auto;
    padding-bottom: 100px;
    /* padding-top: 100px; */
    line-height: 21px;
}
#join_content{
    margin: 100px auto;
}
.required-input{
    color: #E59500;
    font-size: 10pt;
    margin-bottom: 5px;
}
.input-name-wrap{
    font-size: 10pt;
    font-weight: bold;
    color: #0F1A3B;
    
}
.login-input_wrap{
    display: flex;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 30px;
    border-radius: 1px;
    justify-content: space-between;
    flex-direction: column;
    
}
.login-input{
    margin: 20px;
}
.login-input_input{
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    /* margin-top: 8px; */
    padding: 0 12px;
    border: 1px solid #0F1A3B;
    border-radius: 2.5px;
    background-color: #fff;
    font-size: 9pt;
    color: rgb(127, 127, 127);
    box-shadow: 0 0 0 30px #fff inset!important;
    transition: border .2s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 700;
    
}

.id-ok { 
    color : green;
    display : none;
    font-size : 12px;
    top : 12px;
    /* rigth : 10px; */
}
.id-error {
    color : red;
    font-size : 10px;
    display: flex;
    top : 12px;
}
#pwd-error{
    color : red;
    font-size : 10px;
    display: flex;
    top : 12px;
}
.input-name{
    display: flex;
    color: #393939f3;
}
.check-wrap{
    display: flex;
    justify-content: space-between;
}
#pwd-guide{
    font-size: 10px;
    font-weight: bold;
    color: rgb(127, 127, 127);

}

#input-gender-wrap{
    display: inline;
    margin-left:  20px;
    font-size: 10pt;
}
/* 성별 버튼 */
input[type='radio'] {
    -webkit-appearance:none;
    width:10px;
    height:10px;
    border:1px solid #E59500;
    border-radius:50%;
    outline:none;
    background:#E59500;
  }
  input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;  
    border-radius:50%;  
  }
  input[type='radio']:checked:before {
  	background:#0F1A3B;
  }

.input-button{
    display: flex;
}
.login-add_input_wrap{
    margin-bottom: 5px;
}

#zipcode-btn{
    border: 0px solid #0F1A3B;
    margin-left: 10px;
    background-color: #0F1A3B;
    color: #ffffff;
}
#phone-btn{
    border: 0px solid #0F1A3B;
    margin-left: 10px;
    background-color: #0F1A3B;
    color: #ffffff; 
    display: flex;
}
#profile-info{
    margin-top: 3px;
    font-size: 5pt;
    line-height: 120%;
    color: #393939f3;
}
.fa-solid fa-user{
    width: 100px;
}