@charset "UTF-8";

@font-face {
  font-family: mice-bold;
  src: url('../font/MICEGothic\ Bold.ttf');
}

#movie-tab {
  border-bottom: 3px solid #f0c808;
}

.widemovie-wrapper {
	width : 1400px;
	margin : 0 auto;
}
.admin-movie-wrap {
	width : 1400px;
	margin : 0 auto;
}
.midmovie-wrapper {
	width : 1200px;
	margin : 0 auto;
	margin-top : 80px;
}
.movie-wrapper {
	width : 1000px;
	margin : 0 auto;
	margin-top : 80px;
}

.modal-wrapper {
	position : absolute;
	width : 100%;
	height : 100%;
	background-color : rgba(0, 0, 0, 0.5);
	top : 0px;
	left : 0px;
	z-index : 1;
}

.modal-movie {
	position: relative;
	width: 350px;
	height: 450px;
	top: 45%;
	left: 59%;
	margin-left: -300px;
	margin-top: -200px;
	padding-top : 40px;
	padding-bottom : 40px;
	padding-left : 40px;
	padding-right : 40px;
	border-radius: 5px;
	background-color: #fff;	
}

/* adminMovieCinema.jsp (관리자-영화관&영화관리 첫화면) */
#cmbutton-area {
	width : 100%;
	height : 50px;
	text-align : right;
}
	.cmbutton {
		width : 100px;
		height : 30px;
		margin-right : 20px;
		color : white;
		line-height : 30px;
		background-color : #0F1A3B;
	}
#amovie-wrap {
	display : flex;
	width : 100%;	
	height : 530px:
}
	#movie-cinema-rank {
		width : 40%;
		height : 530px;
		border : solid 1px black;
	}
	#movie-cinema-list {
		width : 60%;
		height : 530px;
	}
		#amovie-list {
			width: 95%;
			height : 47%;
			margin : 0 auto;
			margin-bottom : 33px;
			border : solid 1px #0F1A3B;
			border-radius : 15px;
		}
			#amovie-top {
				width : 100%;
				display : flex;
				margin-top : 10px;
				padding-right : 30px;
			}
		#acinema-list {
			width: 95%;
			height : 47%;
			margin : 0 auto;
			border : solid 1px #0F1A3B;
			border-radius : 15px;
		}
			#acinema-top {
				width : 100%;
				display : flex;
				border : solid 1px black;			
			}
				.show-text {
					line-height : 35px;
					margin-left : 15px;
				}
				.show-button {
					width : 100px;
					height : 30px;
					margin-top : 2px;
					margin-left : 570px;
					float : right;
					color : white;
					background-color : #0F1A3B;
					border : solid 1px #0F1A3B;
				}
#modal-movie-text {
	margin-top : 30px;
}
	#choice-addmovie {
		width : 100%;
		height : 30px;
		margin-top : 15px;
		margin-bottom : 5px;
	}
	#movie-info {
		width : 100%;
		height : 80px;
	}
	#choicetime-movie-date {
		width : 100%;
		height : 30px;
		margin-top : 15px;
		margin-bottom : 30px;
	}
	#movie-start-time {
		float : left;
		margin-right : 15px;
	}
	#movie-end-time {
		float : right;
	}
		#choice-movie-start {
			margin-bottom : 15px;
		}
		#choice-movie-end {
			margin-bottom : 15px;
		}
		#movie-start-choice {
			width : 125px;
			height : 30px;
		}
		#movie-end-choice {
			width : 125px;
			height : 30px;
		}
	#add-movie-button {
		width : 35px;
		height : 35px;
		float : right;
		color : white;
		font-size : 20px;
		line-height : 35px;
		background-color : #0F1A3B;
		border : solid 1px #0F1A3B;
		border-radius : 50%;
		margin-right : 15px;
	}
	#see-theater {
		width : 100px;
		height : 30px;
		background-color : white;
		border : solid 1px #0F1A3B;
		color : #0F1A3B;
	}
		#add-movie-off {
			width: 100px;
			height : 30px;
			color : #0F1A3B;
			border : solid 1px #0F1A3B;
			background-color : white;
		}
		#add-movie-on {
			width: 100px;
			height : 30px;
			color : white;
			border : solid 1px #0F1A3B;
			background-color : #0F1A3B;
		}
	#time-wrapper {
		margin-top : -1815px;
		margin-left : 20px;
	}
		.time-wrap {
			margin-bottom : 62px;
		}
#movie-insert-button {
	margin-top : 30px;
	float : right;
}
#add-movie-time {
	display : none;
}
/* adminMovieRegister(관리자) */
#movieinsert-wrapper {
	width : 1000px;
	margin : 0 auto;
}
#movie-wrapper {
	width : 1000px;
	margin : 0 auto;
}
	.title {
		flaot : left;
		color : #0F1A3B;
	}
	.input {
		float : right;
	}
	#title-wrap {
		width : 430px;
		margin-bottom : 25px;
	}
		#title-input {
			width : 300px;
			height : 25px;
			border : solid 1px #0F1A3B;
		}
	#type-wrap {
		width : 743px;
		margin-bottom : 25px;
	}
		.type-input {
			margin-left : 15px;
			margin-right : 5px;
		}
	#runtime-wrap {
		width : 280px;
		margin-bottom : 25px;
	}
		#runtime-input {
			width : 150px;
			height : 25px;
			border : solid 1px #0F1A3B;
		}
	#director-wrap {
		width : 430px;
		margin-bottom : 25px;
	}
		#director-input {
			width : 300px;
			height : 25px;
			border : solid 1px #0F1A3B;
		}
	#actor-wrap {
		width : 430px;
		margin-bottom : 25px;
	}
		#actor-input {
			width : 300px;
			height : 25px;
			border : solid 1px #0F1A3B;
			
		}
	#age-wrap {
		width : 715px;
		margin-bottom : 25px;
	}
		.age-input {
			margin-left : 15px;
			margin-right : 5px;
			border : solid 1px #0F1A3B;
		}
	.date-wrap {
		width : 332px;
		margin-bottom : 25px;
		
	}
		.date-register {
			float : right;
			width : 200px;
			height : 25px;
			border : solid 1px #0F1A3B;
		}
	#story-wrap {
		width : 1000px;
		margin-bottom : 350px;
	}
		#story-title {
			display : inline;
		}
		#story-input {
			width : 867px;
			height : 350px;
			resize : none;
			border : solid 1px #0F1A3B;
		}
	#imgfile-wrap {
		width : 517px;
		margin-bottom : 25px;
	}
	#movie-wrapper #imgfile-wrap {
		margin-bottom : 25px;
	}
	#videofile-wrap {
		width : 518px;
		float : left;
		margin-top : 20px;
		margin-bottom : 25px;
	}
	#movie-wrapper #videofile-wrap {
		margin-bottom : 25px;
	}
	#videomodify-wrap {
		width : 593px;
		float : left;
		margin-top : 20px;
		margin-bottom : 25px;	
	}
	#imgmodify-wrap {
		width : 593px;
		float : left;
		margin-top : 20px;
		margin-bottom : 25px;	
	}
	.img-wrap {
		float : right;
		margin-bottom : 18px;
	}	
	.video-wrap {
		float : right;
		margin-bottom : 18px;
	}	
	.img-wrap #imgload-name {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	.video-wrap #videoload-name {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	.img-wrap label {
		display : inline-block;
		color : #fff;
		padding : 5px 5px 5px 5px;
		vertical-align : middle;
		background-color : #0F1A3B;
		cursor : pointer;
		width : 70px;
		height : 25px;
		text-align : center;
		font-size : 12px;
		margin-left : 10px;
	}
	.video-wrap label {
		display : inline-block;
		color : #fff;
		padding : 5px 5px 5px 5px;
		vertical-align : middle;
		background-color : #0F1A3B;
		cursor : pointer;
		width : 70px;
		height : 25px;
		text-align : center;
		font-size : 12px;
		margin-left : 10px;
	}
	.img-wrap input[type="file"] {
		position : absolute;
		width : 0;
		height : 0;
		padding : 0;
		overflow : hidden;
		border : 0;
	}
	.video-wrap input[type="file"] {
		position : absolute;
		width : 0;
		height : 0;
		padding : 0;
		overflow : hidden;
		border : 0;
	}
	.imgadd-wrap {
		width : 500px;
		margin-left : 132px;
	}
	.videoadd-wrap {
		width : 500px;
		margin-left : 132px;
	}
	.imgadd-wrap #imgload-name {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	.videoadd-wrap #videoload-name {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	.imgadd-wrap [id^=imgload-addname] {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		margin-right : 5px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	.videoadd-wrap [id^=videoload-addname] {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		margin-right : 5px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	.imgadd-wrap label {
		display : inline-block;
		color : #fff;
		padding : 5px 5px 5px 5px;
		vertical-align : middle;
		background-color : #0F1A3B;
		cursor : pointer;
		width : 70px;
		height : 25px;
		text-align : center;
		font-size : 12px;
		margin-left : 10px;
		margin-right : 5px;
	}
	.videoadd-wrap label {
		display : inline-block;
		color : #fff;
		padding : 5px 5px 5px 5px;
		vertical-align : middle;
		background-color : #0F1A3B;
		cursor : pointer;
		width : 70px;
		height : 25px;
		text-align : center;
		font-size : 12px;
		margin-left : 10px;
		margin-right : 5px;
	}
	#video-remove {
		width : 70px;
		height : 25px;
		color : #fff;
		font-size : 12px;
		border : solid 3px #0F1A3B;
		background-color : #0F1A3B;
	}
	#img-remove {
		width : 70px;
		height : 25px;
		color : #fff;
		font-size : 12px;
		border : solid 3px #0F1A3B;
		background-color : #0F1A3B;
	}
	.imgadd-wrap input[type="file"] {
		position : absolute;
		width : 0;
		height : 0;
		padding : 0;
		overflow : hidden;
		border : 0;
	}
	.videoadd-wrap input[type="file"] {
		position : absolute;
		width : 0;
		height : 0;
		padding : 0;
		overflow : hidden;
		border : 0;
	}
	.add-button {
		width : 30px;
		height : 22px;
		font-size : 10px;
		background-color : #0F1A3B;
		color : #fff;
		border : solid 1px #0F1A3B;
	}
	#movieregister-submit {
		width : 100%;
		height : 20px;
		margin-top : 120px;
	}
	#movieregister-button {
		width : 100px;
		height : 30px;
		float : right;
		background-color : #0F1A3B;
		color : #fff;
		margin-bottom : 100px;
	}
/* adminMovieList(관리자) */
#movielist-top {
	margin-top : 20px;
	margin-bottom : 60px;
	display : flex;
}
#movietop-text {
	margin-top : 4px;
	margin-right : 360px;
}
#movie-searchwrap {
	display : flex;
}
#movie-search {
	width : 400px;
	height : 30px;
	padding-left : 10px;
	border : solid 1px #0F1A3B;
	margin-right : 10px;
}
#search-button {
	width : 80px;
	height : 30px;
	margin-right : 375px;
	color : white;
	background-color : #0F1A3B;
	border : solid 1px #0F1A3B;
}
#movie-button {
	width : 100px;
	height : 30px;
	color : white;
	background-color : #0F1A3B;
	border : solid 1px #0F1A3B;
}
.movielist-title {
	display : flex;
}
	.list-num {
		width : 8%;
		margin-top : 20px;
		margin-bottom : 20px;
		text-align : center;
	}
	.list-title {
		width : 18%;
		margin-top : 20px;
		margin-left : 20px;
		margin-bottom : 20px;
	}
	.list-genre {
		width : 12%;
		margin-top : 20px;
		margin-bottom : 20px;
	}
	.list-actor {
		width : 35%;
		margin-top : 20px;
		margin-left : 20px;
		margin-bottom : 20px;
	}
	.list-runtime {
		width : 5%;
		margin-top : 20px;
		margin-bottom : 20px;
	}
	.list-age {
		width : 16%;
		margin-top : 20px;
		margin-bottom : 20px;
		text-align : center;
	}
	.listimg-age {
		width : 16%;
		margin-top : 15px;
		margin-bottom : 15px;
		text-align : center;
	}
	.list-status {
		width : 10%;
		margin-top : 20px;
		margin-bottom : 20px;
	}
/* adminMovieDetail(관리자) */
.movie-product {
	width : 100%;
	margin : 0 auto;
}
#movie-imgwrap {
	float : left;
	margin-right: 50px;
}
#movie-textwrap {
	display : flex;
}
	#detail-movietitle {
		margin-top : 5px;
		margin-right : 30px;
	}
	#movie-next {
		width : 80px;
		height : 30px;
		margin-right : 10px;
		font-weight : bold;
		color : green;
		background-color : white;
		border : solid 3px green;
	}
	#movie-start {
		width : 80px;
		height : 30px;
		margin-right : 10px;
		font-weight : bold;
		color : #0F1A3B;
		background-color : white;
		border : solid 3px #0F1A3B;
	}
	#movie-end {
		width : 80px;
		height : 30px;
		margin-right : 10px;
		font-weight : bold;
		color : red;
		background-color : white;
		border : solid 3px red;
	}
	#movie-datewrap {
		display : flex;
	}
		.detail-text {
			margin-top : 25px;
			margin-right : 40px;
			margin-bottom : 25px;
		}
	#movie-information {
		display : flex;
	}
	.detail-actor {
		margin-bottom : 25px;
	}
	#detail-button {
		display: flex;
	}
		.change-button {
			width : 100px;
			height : 30px;
			margin-top : 28px;
			margin-bottom : 50px;
			margin-right : 10px;
			color : #0F1A3B;
			border : solid 1px #0F1A3B;
			background-color : white;
		}
		.go-movieList{
			width : 100px;
			height : 30px;
			margin-top : 28px;
			margin-bottom : 50px;
			color : white;
			border : solid 1px #0F1A3B;
			background-color : #0F1A3B;
		}
	#content-text {
		margin-top : 50px;
		margin-bottom : 25px;
	}
	#content-detail {
		white-space: pre;
		line-height: 1.8em;
	}
	#video-text {
		margin-top : 80px;
		margin-bottom : 25px;
	}
.detail-video {
	width : 990px;
	margin-bottom : 40px;
	margin-right : 10px;
}
.detail-lastvideo {
	width : 990px;
}

/* adminMovieModify(관리자) */
#movievideo-modify {
	margin-top : 30px;
}
#moviemodify-imgtext {
	float : left;
	margin-top : 3px;
	margin-right : 5px;
}
#moviemodify-videotext {
	float : left;
	margin-top : 3px;
	margin-right : 5px;
}
#moviemodify-imgadd {
	width : 30px;
	height : 25px;
	color : white;
	background-color : #0F1A3B;	
	border : solid 1px #0F1A3B;	
}	
	#imgmodify-filewrap {
		margin-top : -25px;
		margin-left : 132px;
	}
	.imgmodify-listwrap {
		margin-bottom : 15px;
	}
	#imgmodify-filewrap [id^=imgmodify-loadname] {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	[id^=imgmodify-addname] {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		margin-right : 5px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;	
	}
	#imgmodify-filewrap label {
		display : inline-block;
		color : #fff;
		padding : 5px 5px 5px 5px;
		vertical-align : middle;
		background-color : #0F1A3B;
		cursor : pointer;
		width : 70px;
		height : 25px;
		text-align : center;
		font-size : 12px;
		margin-left : 10px;
	}
	#imgmodify-button {
		width : 30px;
		height : 25px;
		color : white;
		background-color : #0F1A3B;
	}
#moviemodify-videoadd {
	width : 30px;
	height : 25px;
	color : white;
	background-color : #0F1A3B;	
	border : solid 1px #0F1A3B;	
}
#moviemodify-button {
	margin-top : 100px;
	margin-bottom : 50px;
	float : right;
}
	#mbutton-back {
		width : 100px;
		height : 30px;
		margin-right : 10px;
		color : #0F1A3B;
		background-color : white;
		border : solid 1px #0F1A3B;
	}
	#mbutton-go {
		width : 100px;
		height : 30px;
		color : white;
		background-color : #0F1A3B;	
		border : solid 1px #0F1A3B;	
	}
/* adminMovieTime(관리자) */
#movietime-wrap {
	height : 40px;
	line-height : 40px;
	margin-bottom : 20px;
}
.cinema-theater {
	margin-right : 20px;
}
#now-year {
	margin-bottom : 20px;
}
	.date-today {
		width : 11.6%;
		margin-top : 20px;
		margin-bottom : 20px;
		font-size : 15px;
		font-weight : bold;
		color : #FFBF00;
		background-color : white;
	}
	.date-button {
		width : 11.3%;
		font-size : 15px;
		background-color : white;
	}
	#date-time-wrap {
		width : 6%;
		text-align : center;
		float : left;
		margin-right : 5px;
	}
		.date-time {
			height : 80px;
			line-height : 80px;
		}
		#time1100 {
			margin-top : 20px;
		}
	.week-list {
		padding-bottom: 10px;
		text-align: center;
	}
		.date-input {
			width : 100%;
			height : 81px;
			border : solid 1px;
			margin-top : -1px;
		}
#date-wrapper {
	margin-top : 40px;
	display: flex;
}
.day-ones{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 12%;
}
	.ayear-month {
		width : 8%;
		float : left;
	}
#movietime-add {
	width : 40px;
	height : 40px;
	font-size : 20px;
	float : right;
	color : white;
	background-color : #0F1A3B;
	border : solid 1px #0F1A3B;
	border-radius : 50%;
}
/* movieListNow(사용자) */
#movielist-searchwrap {
	text-align : center;
	margin-bottom : 80px;
}
	#movielist-search {
		width : 600px;
		height : 30px;
		padding-left : 10px;
		border : solid 1px #0F1A3B;
		margin-right : 10px;
	}
	#movielist-search-button {
		width : 80px;
		height : 30px;
		color : white;
		background-color : #0F1A3B;
		border : solid 1px #0F1A3B;
	}
.movielist-tab {
	display : flex;
}
	.movielist-tab-on {
		width : 33.4%;
		height : 40px;
		text-align : center;
		line-height : 40px;
		color : white;
		border : solid 1px #0F1A3B;
		background-color : #0F1A3B;
	}
	.movielist-tab-off {
		width : 33.3%;
		height : 40px;
		text-align : center;
		line-height : 40px;
		color : #0F1A3B;
		border : solid 1px #0F1A3B;
		background-color : white;		
	}
.movieList-out {
	width : 100%;
	overflow-y : auto;
	margin-top : 80px;
}
.movieList-outside {
	width : 240px;
	height : 450px;
	float : left;
	margin-left : 30px;
	margin-right : 30px;
	margin-bottom : 120px;
}
.movieList-searchside {
	width : 240px;
	height : 450px;
	float : left;
	margin-left : 30px;
	margin-right : 30px;
	margin-bottom : 40px;
}
	.movie-img-area {
		width : 240px;
		height : 360px;
		margin : 0 auto;
	}
	.movie-information-area {
		width : 240px;
		height : 100px;
		padding-left : 3px;
		padding-right : 3px;
	}
		.movie-information-name {
			float : left;
			margin-top : 4px;
			margin-right : 15px;
		}
		.movie-information-start {
			margin-top : 10px;
		}
			.movie-start-day {
				font-size : 14px;
				float : left;
			}
		.movie-information-see {
			margin-left : 10px;
		}
			.movie-see-count {
				font-size : 14px;		
			}
		.ticket-button-area {
			margin-top : 15px;
		}
			.ticket-button {
				width : 80px;
				height : 25px;
				color: white;
				background-color :#0F1A3B;
				border : solid 1px #0F1A3B;
			}
.search-text {
	margin-left : 25px;
}
.page-count-wrap {
	width : 200px;
	margin : 0 auto;
}
	.page-count {
		text-align : center;
		display : flex;
		margin-top : 30px;
	}
		.currentP {
			font-family: mice-bold;
		}
#go-nowlist {
	width : 100px;
	height : 30px;
	float : right;
	color: white;
	background-color :#0F1A3B;
	border : solid 1px #0F1A3B;
}

/* movieDetail */
.grade-see-wrapper {
	margin-top : 25px;
	margin-bottom : 25px;
}
	.grade-wrap {
		float : left;
		margin-right : 80px;
	}
.movie-tab-wrapper {
	display : flex;
	margin-top : 30px;
}
.movie-tab-on {
	width : 50%;
	height : 40px;
	color: white;
	background-color :#0F1A3B;
	border : solid 1px #0F1A3B;
}
.movie-tab-off {
	width : 50%;
	height : 40px;
	color: #0F1A3B;
	background-color :white;
	border : solid 1px #0F1A3B;
}
#ticketBtn-zzim{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
	

.heart-click{
	margin-top: 20px;
	margin-left: 20px;
	padding: 0;
	
}
.heart-notlogin, .emptyHeart, .fullHeart{
	color: red;
	margin-top: 20px;
	margin-left: 20px;
	padding: 0;
}
.heartCount{
	line-height: 18px;
	margin-top: 17px;
	margin-left: 5px;
	font-size: 9pt;
}
#heartWrap{
	display: flex;
    align-items: center;
}
.detail-heart-empty, .detail-heart-full{
	padding-bottom: 40px;
}
.add-font {
	font-size : 12px;
	margin-bottom : 5px;
}