@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	margin : 0 auto;
}

.widemovie-wrapper {
	width : 1400px;
	margin : 0 auto;
	margin-top : 80px;
}
.ticket-movie-wrapper {
	width : 1100px;
	margin : 0 auto;
	margin-top : 90px;
}
.movie-wrapper {
	width : 1000px;
	margin : 0 auto;
	margin-top : 20px;
}

.modal-wrapper {
	position : absolute;
	width : 100%;
	height : 100%;
	background-color : rgba(0, 0, 0, 0.5);
	top : 0px;
	left : 0px;
	z-index : 1;
}

.modal-movie {
	position: relative;
	width: 350px;
	height: 450px;
	top: 45%;
	left: 59%;
	margin-left: -300px;
	margin-top: -200px;
	padding-top : 40px;
	padding-bottom : 40px;
	padding-left : 40px;
	padding-right : 40px;
	border-radius: 5px;
	background-color: #fff;	
}
.date-input:hover {
	background-color : #FCF4C1;
}
#modal-movie-text {
	margin-top : 30px;
}
	#choice-addmovie {
		width : 100%;
		height : 30px;
		margin-top : 15px;
		margin-bottom : 30px;
	}
	#choicetime-movie-date {
		width : 100%;
		height : 30px;
		margin-top : 15px;
		margin-bottom : 30px;
	}
	#movie-start-time {
		float : left;
		margin-right : 15px;
	}
	#movie-end-time {
		float : right;
	}
		#choice-movie-start {
			margin-bottom : 15px;
		}
		#choice-movie-end {
			margin-bottom : 15px;
		}
		#movie-start-choice {
			width : 125px;
			height : 30px;
		}
		#movie-end-choice {
			width : 125px;
			height : 30px;
		}
	#add-movie-button {
		width : 35px;
		height : 35px;
		float : right;
		color : white;
		background-color : #0F1A3B;
		border : solid 1px #0F1A3B;
		border-radius : 50%;
	}
		#add-movie-off {
			width: 100px;
			height : 30px;
			color : #0F1A3B;
			border : solid 1px #0F1A3B;
			background-color : white;
		}
		#add-movie-on {
			width: 100px;
			height : 30px;
			color : white;
			border : solid 1px #0F1A3B;
			background-color : #0F1A3B;
		}
	#time-wrapper {
		margin-top : -1815px;
		margin-left : 20px;
	}
		.time-wrap {
			margin-bottom : 62px;
		}
#movie-insert-button {
	margin-top : 30px;
	float : right;
}
#add-movie-time {
	display : none;
}
/* adminMovieRegister(관리자) */
#movieinsert-wrapper {
	width : 1000px;
	margin : 0 auto;
}
#movie-wrapper {
	width : 1000px;
	margin : 0 auto;
}
	.title {
		flaot : left;
		color : #0F1A3B;
	}
	.input {
		float : right;
	}
	#title-wrap {
		width : 430px;
		margin-bottom : 25px;
	}
		#title-input {
			width : 300px;
			height : 25px;
			border : solid 1px #0F1A3B;
		}
	#type-wrap {
		width : 552px;
		margin-bottom : 25px;
	}
		.type-input {
			margin-left : 15px;
			margin-right : 5px;
		}
	#runtime-wrap {
		width : 280px;
		margin-bottom : 25px;
	}
		#runtime-input {
			width : 150px;
			height : 25px;
			border : solid 1px #0F1A3B;
		}
	#director-wrap {
		width : 430px;
		margin-bottom : 25px;
	}
		#director-input {
			width : 300px;
			height : 25px;
			border : solid 1px #0F1A3B;
		}
	#actor-wrap {
		width : 430px;
		margin-bottom : 25px;
	}
		#actor-input {
			width : 300px;
			height : 25px;
			border : solid 1px #0F1A3B;
			
		}
	#age-wrap {
		width : 715px;
		margin-bottom : 25px;
	}
		.age-input {
			margin-left : 15px;
			margin-right : 5px;
			border : solid 1px #0F1A3B;
		}
	.date-wrap {
		width : 332px;
		margin-bottom : 25px;
		
	}
		.date-register {
			float : right;
			width : 200px;
			height : 25px;
			border : solid 1px #0F1A3B;
		}
	#story-wrap {
		width : 1000px;
		margin-bottom : 350px;
	}
		#story-title {
			display : inline;
		}
		#story-input {
			width : 867px;
			height : 350px;
			resize : none;
			border : solid 1px #0F1A3B;
		}
	#imgfile-wrap {
		width : 517px;
		margin-bottom : 25px;
	}
	#movie-wrapper #imgfile-wrap {
		margin-bottom : 25px;
	}
	#videofile-wrap {
		width : 518px;
		float : left;
		margin-top : 20px;
		margin-bottom : 25px;
	}
	#movie-wrapper #videofile-wrap {
		margin-bottom : 25px;
	}
	#videomodify-wrap {
		width : 593px;
		float : left;
		margin-top : 20px;
		margin-bottom : 25px;	
	}
	#imgmodify-wrap {
		width : 593px;
		float : left;
		margin-top : 20px;
		margin-bottom : 25px;	
	}
	.img-wrap {
		float : right;
		margin-bottom : 18px;
	}	
	.video-wrap {
		float : right;
		margin-bottom : 18px;
	}	
	.img-wrap #imgload-name {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	.video-wrap #videoload-name {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	.img-wrap label {
		display : inline-block;
		color : #fff;
		padding : 5px 5px 5px 5px;
		vertical-align : middle;
		background-color : #0F1A3B;
		cursor : pointer;
		width : 70px;
		height : 25px;
		text-align : center;
		font-size : 12px;
		margin-left : 10px;
	}
	.video-wrap label {
		display : inline-block;
		color : #fff;
		padding : 5px 5px 5px 5px;
		vertical-align : middle;
		background-color : #0F1A3B;
		cursor : pointer;
		width : 70px;
		height : 25px;
		text-align : center;
		font-size : 12px;
		margin-left : 10px;
	}
	.img-wrap input[type="file"] {
		position : absolute;
		width : 0;
		height : 0;
		padding : 0;
		overflow : hidden;
		border : 0;
	}
	.video-wrap input[type="file"] {
		position : absolute;
		width : 0;
		height : 0;
		padding : 0;
		overflow : hidden;
		border : 0;
	}
	.imgadd-wrap {
		width : 500px;
		margin-left : 132px;
	}
	.videoadd-wrap {
		width : 500px;
		margin-left : 132px;
	}
	.imgadd-wrap #imgload-name {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	.videoadd-wrap #videoload-name {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	.imgadd-wrap [id^=imgload-addname] {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		margin-right : 5px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	.videoadd-wrap [id^=videoload-addname] {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		margin-right : 5px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	.imgadd-wrap label {
		display : inline-block;
		color : #fff;
		padding : 5px 5px 5px 5px;
		vertical-align : middle;
		background-color : #0F1A3B;
		cursor : pointer;
		width : 70px;
		height : 25px;
		text-align : center;
		font-size : 12px;
		margin-left : 10px;
		margin-right : 5px;
	}
	.videoadd-wrap label {
		display : inline-block;
		color : #fff;
		padding : 5px 5px 5px 5px;
		vertical-align : middle;
		background-color : #0F1A3B;
		cursor : pointer;
		width : 70px;
		height : 25px;
		text-align : center;
		font-size : 12px;
		margin-left : 10px;
		margin-right : 5px;
	}
	#video-remove {
		width : 70px;
		height : 25px;
		color : #fff;
		font-size : 12px;
		border : solid 3px #0F1A3B;
		background-color : #0F1A3B;
	}
	#img-remove {
		width : 70px;
		height : 25px;
		color : #fff;
		font-size : 12px;
		border : solid 3px #0F1A3B;
		background-color : #0F1A3B;
	}
	.imgadd-wrap input[type="file"] {
		position : absolute;
		width : 0;
		height : 0;
		padding : 0;
		overflow : hidden;
		border : 0;
	}
	.videoadd-wrap input[type="file"] {
		position : absolute;
		width : 0;
		height : 0;
		padding : 0;
		overflow : hidden;
		border : 0;
	}
	.add-button {
		width : 30px;
		height : 22px;
		font-size : 10px;
		background-color : #0F1A3B;
		color : #fff;
		border : solid 1px #0F1A3B;
	}
	#movieregister-submit {
		width : 100%;
		height : 20px;
		margin-top : 120px;
	}
	#movieregister-button {
		width : 100px;
		height : 30px;
		float : right;
		background-color : #0F1A3B;
		color : #fff;
		margin-bottom : 100px;
	}
/* adminMovieList(관리자) */
#movielist-top {
	margin-bottom : 60px;
	display : flex;
}
#movietop-text {
	margin-top : 4px;
	margin-right : 360px;
}
#movie-searchwrap {
	display : flex;
}
#movie-search {
	width : 400px;
	height : 30px;
	border : solid 1px #0F1A3B;
	margin-right : 10px;
}
#search-button {
	width : 80px;
	height : 30px;
	margin-right : 375px;
	color : white;
	background-color : #0F1A3B;
	border : solid 1px #0F1A3B;
}
#movie-button {
	width : 100px;
	height : 30px;
	color : white;
	background-color : #0F1A3B;
	border : solid 1px #0F1A3B;
}
.movielist-title {
	display : flex;
}
	.list-num {
		width : 5%;
		margin-top : 20px;
		margin-bottom : 20px;
		text-align : center;
	}
	.list-title {
		width : 14%;
		margin-top : 20px;
		margin-bottom : 20px;
	}
	.list-genre {
		width : 10%;
		margin-top : 20px;
		margin-bottom : 20px;
	}
	.list-director {
		width : 10%;
		margin-top : 20px;
		margin-bottom : 20px;
	}
	.list-actor {
		width : 30%;
		margin-top : 20px;
		margin-bottom : 20px;
	}
	.list-runtime {
		width : 5%;
		margin-top : 20px;
		margin-bottom : 20px;
	}
	.list-age {
		width : 16%;
		margin-top : 20px;
		margin-bottom : 20px;
		text-align : center;
	}
	.listimg-age {
		width : 16%;
		margin-top : 15px;
		margin-bottom : 15px;
		text-align : center;
	}
	.list-status {
		width : 10%;
		margin-top : 20px;
		margin-bottom : 20px;
	}
/* adminMovieDetail(관리자) */
.movie-product {
	width : 100%;
	margin : 0 auto;
}
#movie-imgwrap {
	float : left;
	margin-right: 50px;
}
#movie-textwrap {
	display : flex;
}
	#detail-movietitle {
		margin-top : 5px;
		margin-right : 30px;
	}
	#movie-next {
		width : 80px;
		height : 30px;
		margin-right : 10px;
		font-weight : bold;
		color : green;
		background-color : white;
		border : solid 3px green;
	}
	#movie-start {
		width : 80px;
		height : 30px;
		margin-right : 10px;
		font-weight : bold;
		color : #0F1A3B;
		background-color : white;
		border : solid 3px #0F1A3B;
	}
	#movie-end {
		width : 80px;
		height : 30px;
		margin-right : 10px;
		font-weight : bold;
		color : red;
		background-color : white;
		border : solid 3px red;
	}
	#movie-datewrap {
		display : flex;
	}
		.detail-text {
			margin-top : 25px;
			margin-right : 40px;
			margin-bottom : 25px;
		}
	#movie-information {
		display : flex;
	}
	.detail-actor {
		margin-bottom : 25px;
	}
	#detail-button {
	}
		.change-button {
			width : 100px;
			height : 30px;
			margin-top : 28px;
			margin-bottom : 50px;
			margin-right : 10px;
			color : #0F1A3B;
			border : solid 1px #0F1A3B;
			background-color : white;
		}
		.go-movieList {
			width : 100px;
			height : 30px;
			margin-top : 28px;
			margin-bottom : 50px;
			color : white;
			border : solid 1px #0F1A3B;
			background-color : #0F1A3B;
		}
	#content-text {
		margin-top : 50px;
		margin-bottom : 25px;
	}
	#content-detail {
		white-space: pre;
		line-height: 1.8em;
	}
	#video-text {
		margin-top : 80px;
		margin-bottom : 25px;
	}
.detail-video {
	width : 990px;
	margin-bottom : 40px;
	margin-right : 10px;
}
.detail-lastvideo {
	width : 990px;
}

/* adminMovieModify(관리자) */
#movievideo-modify {
	margin-top : 30px;
}
#moviemodify-imgtext {
	float : left;
	margin-top : 3px;
	margin-right : 5px;
}
#moviemodify-videotext {
	float : left;
	margin-top : 3px;
	margin-right : 5px;
}
#moviemodify-imgadd {
	width : 30px;
	height : 25px;
	color : white;
	background-color : #0F1A3B;	
	border : solid 1px #0F1A3B;	
}	
	#imgmodify-filewrap {
		margin-top : -25px;
		margin-left : 132px;
	}
	.imgmodify-listwrap {
		margin-bottom : 15px;
	}
	#imgmodify-filewrap [id^=imgmodify-loadname] {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;
	}
	[id^=imgmodify-addname] {
		display : inline-block;
		height : 25px;
		padding : 0 10px;
		margin-right : 5px;
		vertical-align : middle;
		border : solid 1px #0F1A3B;
		width : 300px;
		color : #0F1A3B;	
	}
	#imgmodify-filewrap label {
		display : inline-block;
		color : #fff;
		padding : 5px 5px 5px 5px;
		vertical-align : middle;
		background-color : #0F1A3B;
		cursor : pointer;
		width : 70px;
		height : 25px;
		text-align : center;
		font-size : 12px;
		margin-left : 10px;
	}
	#imgmodify-button {
		width : 30px;
		height : 25px;
		color : white;
		background-color : #0F1A3B;
	}
#moviemodify-videoadd {
	width : 30px;
	height : 25px;
	color : white;
	background-color : #0F1A3B;	
	border : solid 1px #0F1A3B;	
}
#moviemodify-button {
	margin-top : 100px;
	margin-bottom : 50px;
	float : right;
}
	#mbutton-back {
		width : 100px;
		height : 30px;
		margin-right : 10px;
		color : #0F1A3B;
		background-color : white;
		border : solid 1px #0F1A3B;
	}
	#mbutton-go {
		width : 100px;
		height : 30px;
		color : white;
		background-color : #0F1A3B;	
		border : solid 1px #0F1A3B;	
	}
/* adminMovieTime(관리자) */
#movietime-wrap {
	height : 40px;
	line-height : 40px;
	margin-bottom : 20px;
}
.cinema-theater {
	margin-right : 20px;
}
#now-year {
	margin-bottom : 20px;
}
	.date-today {
		width : 11.6%;
		margin-top : 20px;
		margin-bottom : 20px;
		font-size : 15px;
		font-weight : bold;
		color : #FFBF00;
		background-color : white;
	}
	.date-button {
		width : 11.3%;
		font-size : 15px;
		background-color : white;
	}
	#date-time-wrap {
		width : 6%;
		text-align : center;
		float : left;
		margin-right : 5px;
	}
		.date-time {
			height : 80px;
			line-height : 80px;
		}
		#time1100 {
			margin-top : 20px;
		}
	.week-list {
		padding-bottom: 10px;
		text-align: center;
	}
		.date-input {
			width : 100%;
			height : 81px;
			border : solid 1px;
			margin-top : -1px;
		}
#date-wrapper {
	margin-top : 40px;
	display: flex;
}
.day-ones{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 12%;
}
	.ayear-month {
		width : 8%;
		float : left;
	}
#movietime-add {
	width : 40px;
	height : 40px;
	font-size : 20px;
	float : right;
	color : white;
	background-color : #0F1A3B;
	border : solid 1px #0F1A3B;
	border-radius : 50%;
}
/* movieListAll(사용자) */
#movielist-searchwrap {
	text-align : center;
	margin-bottom : 50px;
}
	#movielist-search {
		width : 600px;
		height : 30px;
		padding-left : 10px;
		border : solid 1px #0F1A3B;
		margin-right : 10px;
	}
	#movielist-search-button {
		width : 80px;
		height : 30px;
		color : white;
		background-color : #0F1A3B;
		border : solid 1px #0F1A3B;
	}
.movielist-tab {
	display : flex;
}
	.movielist-tab-on {
		width : 25%;
		height : 40px;
		text-align : center;
		line-height : 40px;
		color : white;
		border : solid 1px #0F1A3B;
		background-color : #0F1A3B;
	}
	.movielist-tab-off {
		width : 25%;
		height : 40px;
		text-align : center;
		line-height : 40px;
		color : #0F1A3B;
		border : solid 1px #0F1A3B;
		background-color : white;		
	}
/* movieTicketTime(사용자) */
.ticket-choice {
	width : 100%;
	height : 160px;
	color : white;
	border : solid 2px #F0C808;
	background-color : #F0C808;
	border-bottom : none;
	text-align : center;
}
.ticket-text {
	width : 100%;
	height : 160px;
	color : #F0C808;
	border : solid 2px #F0C808;
	border-bottom : none;
	text-align : center;
}
.ticket-text-bottom {
	width : 100%;
	height : 160px;
	color : #F0C808;
	border : solid 2px #F0C808;
	text-align : center;	
}
	.ticket-intext {
		margin-top : 50px;
	}
.ticket-top {
	display : flex;
}
	.ticket-cinema-name {
		width : 25%;
		height : 45px;
		text-align : center;
		line-height : 40px;
		color : white;
		border : solid 1px white;
		background-color : #0F1A3B;
	}
	.ticket-movie-name {
		width : 28%;
		height : 45px;
		text-align : center;
		line-height : 40px;
		color : white;
		border : solid 0.1px white;
		background-color : #0F1A3B;	
	}
	.ticket-theater-choice {
		width : 50%;
		height : 45px;
		text-align : center;
		line-height : 40px;
		color : white;
		border : solid 1px white;
		background-color : #0F1A3B;	
	}
	.wrap-inside {
		display : flex;
	}
		.cinema-name-wrap {
			width : 25%;
			height : 595px;
			color : white;
			border : solid 1px #0F1A3B;	
		}
			.cinema-name-outside {
				width : 100%;
				height : 45px;
				padding-left : 10px;
				line-height : 45px;
				border-bottom : solid 1px #0F1A3B;	
			}
				.cinema-name-text {
					color : black;
				}
			.movie-name-outside {
				width : 100%;
				height : 45px;
				padding-left : 10px;
				line-height : 45px;
				border-bottom : solid 1px #0F1A3B;
			}
				.movie-name-text {
					color : black;
				}
				.year-month {
					width : 100%;
					margin-top : 10px;
					margin-left : 10px;
					font-size : 14px;
					color : black;
				}
					.tmday-button {
						width : 11.6%;
						background-color : white;
						margin-top : 10px;
						margin-bottom : 10px;
					}
		.movie-name-wrap {
			width : 28%;
			height : 595px;
			color : white;
			border : solid 1px #0F1A3B;			
		}
		.theater-choice-wrap {
			width : 50%;
			height : 595px;
			color : white;
			border : solid 1px #0F1A3B;				
		}
.ticket-left {
	width : 7%;
	float : left;
}