#back-yellow{
    width: 100%;
    height: 415px;
    background-color:#FCF4C1;
    position:relative;
}
#mypage-form{
    padding: 20px 30px;
    overflow: hidden;
    width: 820px;
    height: 410px;
    border-radius: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    position:absolute;
    top: 200px;
    left: 25%;
    box-shadow: 5px 5px 5px -1px rgb(199, 199, 199);
    
}
#mypage-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#now-level{
    width: 80px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    background-color: #173d88;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

#editProfile{
    color: rgb(82, 82, 82);
    font-weight: 600;
    display: flex;
    align-items: center;
}
#pen{
    font-size: 23px;
    color: gray;
    margin-right: 10px;
}
#profile-img{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
    
}
#img-frame{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.fa-user{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 30px;
    font-size: 25pt;
    margin-top: 10px;
}
#bangabanga{
    font-size: 15pt;
    font-weight: 700;
    color: rgb(81, 81, 81);
}
.level-name{
    color: rgb(81, 81, 81);
    font-size: 13pt;
    font-weight: 700;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
}

#level-bar-wrap{
    margin-left: 30px;
    margin-right: 30px;
}
.level-bar {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    background-color: #dedede;
    font-weight: 600;
    font-size: .8rem;
}

.level-bar .level {
    margin-top: 10px;
    width: 72%; 
    height: 30px;
    padding: 0;
    text-align: center;
    background-color: #E59500;
    color: #111;
}
.level-count{
    color: rgb(81, 81, 81);
    font-size: 13pt;
    font-weight: 700;
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 20px;
    justify-content: space-between;
    
}
#bottom-line{
    border: 0.3px solid #EFEFEF;
    margin-top: 70px;
}
.point-mate{
    display: flex;
    justify-content: space-evenly;
}
.my-point-wrap{
    display: flex; 
}
#my-point, #my-mate{
    font-size: 15pt;
    margin: 25px 10px;
}
#mypoint, #mymate{
    font-size: 16pt;
    color: #E59500;
    text-decoration: underline;
    margin: 25px;
    
}
#bottom-line2{
    border: 1px solid #EFEFEF;
    width: 1;
    height: 100px;
}
.mate-wrap{
    display: flex;
    
}
#menu-wrap{
    margin-top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.myMenu{
    width: 230px;
    height: 50px;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-color: #173d88;
    background-color: white;
    font-weight: 800;
    color: rgb(82, 82, 82);

    
}
.myMenu-start{
    width: 230px;
    height: 50px;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-color: #173d88;
    background-color: white;
    font-weight: 800;
    color: rgb(82, 82, 82);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.myMenu-end{
    width: 230px;
    height: 50px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #173d88;
    background-color: white;
    font-weight: 800;
    color: rgb(82, 82, 82);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
a{
    text-decoration: none;
    color: rgb(82, 82, 82);
}

