@font-face {
  font-family: mice-bold;
  src: url('../font/MICEGothic\ Bold.ttf');
}
/* 
#btn-area {
  padding: 20px 10px 20px 0;
  width: 100%;
  text-align: right;
} */

.notice-detail-header {
  display: flex;
  padding: 20px 10px;
}

#notice-title {
  width: 80%;
  text-align: left;
  float: left;
}

#notice-create {
  width: 20%;
  text-align: right;
  float: right;
}

.notice-detail-content {
  padding: 30px 30px;
  line-height: 1.5em;
  white-space: pre-wrap;
}

.arrow {
  float: none;
}

.prev-area,
.next-area {
  padding: 20px 30px;
}

.prev-area > a {
  margin-right: 30px;
}

.arrow {
  padding-left: 10px;
  padding-right: 30px;
}

.list-btn-area {
  margin: 20px 0;
  text-align: right;
}

.list-btn {
  width: 120px;
  height: 35px;
  background-color: #0f1a3b;
  color: white;
  font-size: 14px;
  border-radius: 3px;
}
