.wrap{
    width: 1100px;
    
    /* background-color: rgb(232, 232, 232); */
    box-sizing: border-box;
    margin: 0 auto;
}
.title-item{
    color: #0F1A3B;
    text-align: center;
    margin: 90px auto;
    font-size: 25pt;
    font-weight: 600;
}
.point-wrap{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    
}
#nick{
    font-size: 15pt;
    color: #0F1A3B;
}
#point{
    color: #E59500;
/*     text-decoration: underline; */
    font-size: 30pt;
    font-weight: 600;
}
#point-history-lookup-wrap{
    text-align: left;
    color: #0F1A3B;

}
#point-history-lookup{
    font-weight: 500;
    font-size: 14pt;
}
#point-info{
    font-size: 10pt;
    font-weight: 500;
}
.lookup-period{
    display: flex;
    margin: 40px 0px 40px 0px;
    flex-direction: row;
    font-size: 15px;
    

}
.period-lookup{
    margin-right: 30px;
    color: #434343;
    font-weight: 600;
    text-align: center;
    
}
.period{
    margin-right: 30px;
    font-weight: 600;
    width: 72px;
    height: 24px;
    border: 0px solid #0F1A3B;
    background-color: #0F1A3B;
    color: white;
    text-align: center;
    align-items: center;
    
}
.pointHistoryBoard{
    width: 100%;
    border-spacing: 0;
    text-align: center;
    color: #353535;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
}
#historyList{
    margin-top: 20px;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
table, tr, th, td, div{
    line-height: 1.6;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.paging-wrap{
    display: flex;
    margin-bottom: 300px;
    margin-top: 100px;;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 10pt;
    text-decoration: none;
    list-style: none;
    color: #393939;
}

.pagingNo{
    margin: 10px;
}

