@font-face {
  font-family: mice-bold;
  src: url('../font/MICEGothic\ Bold.ttf');
}

/** 공통 (사용자, 관리자) */
#store-wrapper {
  margin: 0 auto;
  width: 1000px;
}

input[type='checkbox'] {
  zoom: 1.3;
  accent-color: #0f1a3b;
}

/* storeList, storeDetail, adminStoreList, adminStoreReorder - 탭 메뉴 */

#store-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#store-tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.store-tab-item {
  width: 150px;
  height: 50px;
  flex-grow: 1;
}

.store-tab-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  cursor: default;
}

.store-tab-item a:hover {
  border-bottom: 3px solid #0f1a3b;
  font-family: mice-bold;
}

/* storeList, adminStoreList, adminStoreReorder - 상품 목록 */
#store-banner {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

#store-banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-per-type {
  padding-top: 70px;
}

.product-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.product-item {
  width: 333px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 15px 0 15px;
  background-color: #fff;
}

.product-item > a {
  display: block;
  text-align: center;
}

.sortable {
  user-select: none;
}

.product-img {
  object-fit: contain;
  max-width: 300px;
  max-height: 220px;
}

.product-detail {
  margin: 10px 0;
}

.product-detail .product-desc {
  color: gray;
  font-size: 14px;
}

.product-detail .product-name {
  font-family: mice-bold;
  margin: 1px 0;
}

.store-btn {
  display: flex;
  justify-content: space-between;
}

.btn-store-list {
  width: 140px;
  height: 35px;
  border: none;
}

/** 사용자 */

/* storeList, storeDetail - 탭 메뉴 링크 */
#store-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#store-links li {
  padding: 5px 10px;
}

#store-links li a {
  padding: 5px 10px;
}

/* storeList - 버튼 */

.btn-store-list.btn-store-buy {
  color: #fff;
  background-color: #0f1a3b;
  border: 1px solid #0f1a3b;
}

.btn-store-list.btn-store-cart {
  color: #fff;
  background-color: #e59500;
  border: 1px solid #e59500;
  line-height: 37.5px;
}

/* storeDetail */

#grid-store-detail {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 2fr 1fr;
  grid-template-rows: repeat(2, 5fr) repeat(4, 4fr);
  place-content: stretch;
  align-items: center;
  margin: 30px 0 50px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.gitem-store-detail {
  padding: 3px 0;
}

/* storeDetail - 상품명 */
.gitem-store-detail:nth-child(1) {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
}

/* storeDetail - 상품사진 */
.gitem-store-detail:nth-child(2) {
  grid-row: 2 / 8;
  object-fit: contain;
  padding: 50px;
}

.gitem-store-detail:nth-child(2) img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* storeDetail - 상품가격 */
.gitem-store-detail:nth-child(3) {
  grid-column: 2 / 6;
  font-size: 1.2rem;
}

/* storeDetail - 상품구성, 유효기간 */
.gitem-store-detail:nth-child(5),
.gitem-store-detail:nth-child(7) {
  grid-column: 3 / 6;
}

/* storeDetail - 상품옵션 */
/* .gitem-store-detail:nth-child(8) {
  grid-column: 2 / 4;
}

.gitem-store-detail select {
  width: 330px;
  height: 35px;
} */

/* storeDetail - 상품수량 */
.gitem-store-detail:nth-child(8) {
  grid-column: 2 / 3;
}
.gitem-store-detail:nth-child(9) {
  grid-column: 3 / 4;
}

.gitem-store-detail input[type='number'] {
  width: 190px;
  height: 35px;
  padding: 2px;
}

/* storeDetail - 총 상품금액 */
.gitem-store-detail:nth-child(10) {
  grid-column: 4 / 5;
  text-align: right;
}

.gitem-store-detail:nth-child(11) {
  grid-column: 5 / 6;
  text-align: right;
}

/* storeDetail - 구매 버튼 */
.gitem-store-detail:nth-child(12) {
  grid-column: 2 / 4;
  justify-self: start;
}

/* storeDetail - 장바구니 버튼 */
.gitem-store-detail:nth-child(13) {
  grid-column: 4 / 6;
  justify-self: end;
}

.btn-detail {
  width: 290px;
  height: 40px;
}

.btn-detail#btn-detail-buy {
  background-color: #0f1a3b;
  color: #fff;
}

.btn-detail#btn-detail-cart {
  padding-top: 1px;
  background-color: #e59500;
  color: #fff;
}

/* storeCart, storePay, storeComplete - 스텝 박스 */
#store-step-box {
  display: flex;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 30px;
  color: gray;
}

#store-step-box i {
  color: darkgray;
}

#store-step-box > i {
  margin: 0 50px;
}

.store-each-step {
  display: flex;
  align-items: center;
}

.store-each-step > i {
  margin-right: 10px;
}

/* storeCart */

#store-step-cart i {
  color: #0f1a3b;
}
#store-step-cart p {
  color: #0f1a3b;
  font-family: mice-bold;
}

#store-cart-list,
#store-cart-price {
  display: grid;
  padding-top: 30px;
  text-align: center;
}

#ghead-cart-list > div,
#store-cart-price > div > div {
  padding: 20px 0;
}

[id^='ghead-cart'] {
  display: grid;
  border-top: 1px solid black;
  border-bottom: 1px solid #e2e2e2;
}

[id^='gbody-cart'] {
  display: grid;
  border-bottom: 1px solid gray;
  align-items: center;
}

#ghead-cart-list {
  grid-template-columns: 1fr 8fr 4fr 4fr 4fr;
}

#gbody-cart-list {
  grid-template-columns: 1fr repeat(5, 4fr);
  margin-bottom: 10px;
}

.cart-product-name {
  text-align: left;
}

#gbody-cart-list img {
  max-width: 100px;
  max-height: 100px;
}

#gbody-cart-list select {
  width: 80%;
  padding: 2px;
}

#gbody-cart-list input[type='number'] {
  padding: 2px;
}

#gbody-cart-list button {
  width: 40px;
  height: 23px;
  color: #fff;
  background-color: #0f1a3b;
}

#btn-cart-delete {
  width: 50px;
  height: 30px;
  background-color: #fff;
  color: #0f1a3b;
  border: 1px solid #0f1a3b;
}

#ghead-cart-price,
#gbody-cart-price {
  grid-template-columns: 4fr 1fr 4fr 1fr 4fr;
}

#gbody-cart-price div {
  font-family: mice-bold;
}

#cart-btn-area {
  text-align: center;
  padding: 50px 0;
}

#cart-btn-area .btn-store-cart {
  width: 150px;
  height: 40px;
}

#cart-btn-area #btn-cart-back {
  margin-right: 5px;
  background-color: #fff;
  border: 1px solid #0f1a3b;
  color: #0f1a3b;
}

#cart-btn-area #btn-cart-pay {
  margin-left: 5px;
  background-color: #0f1a3b;
  color: #fff;
}

/* storePay */

#store-step-pay i {
  color: #0f1a3b;
}
#store-step-pay p {
  color: #0f1a3b;
  font-family: mice-bold;
}

/** storeComplete */

#store-step-complete i {
  color: #0f1a3b;
}

#store-step-complete p {
  color: #0f1a3b;
  font-family: mice-bold;
}

#store-complete-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  padding: 30px 0;
  border-top: 1px solid #000;
}

#msg-store-complete {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
}

#tbl-store-complete {
  width: 50%;
  margin: 20px 0;
  border-collapse: collapse;
}

#tbl-store-complete tr {
  height: 50px;
}

#tbl-store-complete tr:nth-child(2) {
  border-bottom: 1px solid #e2e2e2;
}

#tbl-store-complete th {
  text-align: left;
}

#tbl-store-complete td {
  text-align: right;
}

#store-complete-main > p {
  width: 100%;
  padding-top: 10px;
  margin-bottom: 50px;
  border-top: 1px solid gray;
}

.btn-store-complete {
  width: 150px;
  height: 40px;
  /* font-family: mice-bold; */
}

.btn-store-complete#btn-store-history {
  background-color: #fff;
  border: 1px solid #0f1a3b;
  margin-right: 5px;
}

.btn-store-complete#btn-store-list {
  margin-left: 5px;
  background-color: #0f1a3b;
  border: 1px solid #0f1a3b;
  color: #fff;
}

/** 관리자 */

/* adminStoreList */
#btn-store-register {
  background-color: #0f1a3b;
  color: #fff;
  margin-right: 10px;
}

#btn-store-reorder {
  background-color: #e59500;
  color: #fff;
}

.btn-store-mng {
  width: 100px;
  height: 35px;
}

.btn-store-list.btn-store-modify {
  color: #0f1a3b;
  background-color: #fff;
  border: 1.5px solid #0f1a3b;
  font-family: mice-bold;
}

.btn-store-list.btn-store-modify:active {
  color: #fff;
  background-color: #0f1a3b;
}

.btn-store-list.btn-store-delete {
  color: #e2202c;
  background-color: #fff;
  border: 1.5px solid #e2202c;
  font-family: mice-bold;
}

.btn-store-list.btn-store-delete:active {
  color: #fff;
  background-color: #e2202c;
}

#modal-store-register {
  display: none;
}

#modal-store-modify {
  display: none;
}

/* adminStoreReorder */

#btn-store-cancel {
  background-color: #e2e2e2;
  color: #0f1a3b;
  margin-right: 10px;
}

#btn-store-save {
  background-color: #0f1a3b;
  color: #fff;
}

/* adminStoreRegister, adminStoreModify */

.modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
}

.modal-store {
  position: relative;
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
  border-radius: 5px;
  background-color: #fff;
}

.modal-store .modal-title {
  padding: 10px;
}

.modal-store .modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 85%;
  padding: 30px 0 5px 0;
}

.modal-form .modal-img-area {
  text-align: center;
  border: 1px solid #e2e2e2;
}

.modal-form .modal-img-area i {
  padding: 60px;
}

.modal-form .img-preview {
  max-width: 80%;
  max-height: 80%;
}

.modal-form .product-img {
  display: none;
}

.modal-form .modal-product-type {
  width: 86%;
  height: 80%;
}

.modal-form .product-type-input {
  padding-left: 3px;
}

.modal-form [class^='btn-to'] {
  width: 28px;
  height: 80%;
  margin-left: 1.5px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #6f6f6f;
}

.modal-form i {
  margin-top: 2px;
  color: #0f1a3b;
}

.modal-form .hidden {
  display: none;
}

.modal-form .modal-input {
  width: 100%;
  height: 80%;
  padding-left: 3px;
}

.modal-btn-area {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 10px 0;
}

.modal-btn {
  width: 80px;
  height: 30px;
}

.modal-btn-save {
  background-color: #0f1a3b;
  color: #fff;
}

.modal-btn-cancel {
  background-color: #e2e2e2;
  color: #000;
}
