@font-face {
  font-family: mice-bold;
  src: url('../font/MICEGothic\ Bold.ttf');
}

/* 공통 */
#store-wrapper {
  margin: 0 auto;
  width: 1000px;
}

#store-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#store-tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.store-tab-item {
  width: 150px;
  height: 50px;
  flex-grow: 1;
}

.store-tab-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  cursor: default;
}

.store-tab-item a:hover {
  border-bottom: 3px solid #0f1a3b;
  font-family: mice-bold;
}

.product-type {
  margin-top: 30px;
}

.product-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}

.product-item {
  width: 300px;
}

.product-item:nth-child(3n-1) {
  margin: 0 50px;
}

.product-img {
  max-width: 300px;
  max-height: 300px;
}

.product-detail {
  margin: 10px 0;
}

.product-detail .product-desc {
  color: gray;
}

.product-detail .product-name {
  font-family: mice-bold;
}

.store-btn {
  display: flex;
  justify-content: space-between;
}

.btn-store-list {
  width: 140px;
  height: 35px;
  border: none;
}

/* 사용자 */
#store-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#store-links li {
  padding: 5px 10px;
}

#store-links li a {
  padding: 5px 10px;
}

.btn-store-list.btn-store-buy {
  color: #fff;
  background-color: #0f1a3b;
}

.btn-store-list.btn-store-cart {
  background-color: #e59500;
  line-height: 37.5px;
}

/** 관리자 */

/* 상품 목록 */
#btn-store-register {
  background-color: #0f1a3b;
  color: #fff;
  margin-right: 10px;
}

#btn-store-reorder {
  background-color: #e59500;
  color: #fff;
}

.btn-store-mng {
  width: 100px;
  height: 35px;
}

.btn-store-list.btn-store-modify {
  background-color: #fff;
  border: 1.5px solid #0f1a3b;
  color: #0f1a3b;
  font-family: mice-bold;
}

.btn-store-list.btn-store-modify:active {
  background-color: #0f1a3b;
  color: #fff;
}

.btn-store-list.btn-store-delete {
  background-color: #fff;
  border: 1.5px solid #e2202c;
  color: #e2202c;
  font-family: mice-bold;
}

.btn-store-list.btn-store-delete:active {
  background-color: #e2202c;
  color: #fff;
}

#modal-store-register {
  display: none;
}

#modal-store-modify {
  display: none;
}

/* 상품 재배치 */
#btn-store-cancel {
  background-color: #e2e2e2;
  color: #0f1a3b;
  margin-right: 10px;
}

#btn-store-save {
  background-color: #0f1a3b;
  color: #fff;
}

/* 상품 등록 (모달) */
.modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
}

.modal-store {
  position: relative;
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
  border-radius: 5px;
  background-color: #fff;
}

.modal-store .modal-title {
  padding: 10px;
}

.modal-store .modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 85%;
  padding: 30px 0 5px 0;
}

.modal-form .modal-img-area {
  text-align: center;
  border: 1px solid #e2e2e2;
}

.modal-form .modal-img-area i {
  padding: 60px;
}

.modal-form .product-img {
  display: none;
}

.modal-form .modal-select,
.modal-form .modal-input {
  width: 100%;
  height: 80%;
}

.modal-form .modal-input {
  padding-left: 3px;
}

.modal-btn-area {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 10px 0;
}

.modal-btn {
  width: 80px;
  height: 30px;
}

.modal-btn-save {
  background-color: #0f1a3b;
  color: #fff;
}

.modal-btn-cancel {
  background-color: #e2e2e2;
  color: #000;
}
