@font-face {
  font-family: mice-bold;
  src: url('../font/MICEGothic\ Bold.ttf');
}

/** 공통 */
#store-wrapper {
  margin: 0 auto;
  width: 1000px;
}

#store-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#store-tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.store-tab-item {
  width: 150px;
  height: 50px;
  flex-grow: 1;
}

.store-tab-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  cursor: default;
}

.store-tab-item a:hover {
  border-bottom: 3px solid #0f1a3b;
  font-family: mice-bold;
}

.product-type {
  margin-top: 30px;
}

.product-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.product-item {
  width: 333px;
}

.product-item > a {
  display: block;
  text-align: center;
}

.product-img {
  max-width: 300px;
  max-height: 300px;
}

.product-detail {
  margin: 10px 0;
}

.product-detail .product-desc {
  color: gray;
}

.product-detail .product-name {
  font-family: mice-bold;
}

.store-btn {
  display: flex;
  justify-content: space-between;
}

.btn-store-list {
  width: 140px;
  height: 35px;
  border: none;
}

/** 사용자 */

/* 상품 목록 */
#store-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#store-links li {
  padding: 5px 10px;
}

#store-links li a {
  padding: 5px 10px;
}

.btn-store-list.btn-store-buy {
  color: #fff;
  background-color: #0f1a3b;
}

.btn-store-list.btn-store-cart {
  background-color: #e59500;
  color: #fff;
  line-height: 37.5px;
}

/* 장바구니 > 결제하기 > 결제완료 */
#store-step-box {
  display: flex;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 30px;
  color: gray;
}

#store-step-box i {
  color: darkgray;
}

#store-step-box > i {
  margin: 0 50px;
}

.store-each-step {
  display: flex;
  align-items: center;
}

.store-each-step > i {
  margin-right: 10px;
}

/* 장바구니 */
#store-step-cart i {
  color: #0f1a3b;
}
#store-step-cart p {
  color: #0f1a3b;
  font-family: mice-bold;
}

#store-cart-list,
#store-cart-price {
  display: grid;
  padding-top: 30px;
  text-align: center;
}

#store-cart-list > div > div,
#store-cart-price > div > div {
  padding: 20px 0;
}

[id^='ghead-cart'] {
  display: grid;
  border-top: 1px solid black;
  border-bottom: 1px solid #e2e2e2;
}

[id^='gbody-cart'] {
  display: grid;
  border-bottom: 1px solid gray;
}

#ghead-cart-list {
  grid-template-columns: 1fr 8fr 3fr 3fr 3fr 2fr;
}

#gbody-cart-list {
  grid-template-columns: 1fr 3fr 5fr 3fr 3fr 3fr 2fr;
  margin-bottom: 10px;
}

#gbody-cart-list > div:nth-child(7n-4) {
  text-align: left;
}

#gbody-cart-list select {
  width: 80%;
  padding: 2px;
}

#gbody-cart-list input[type='number'] {
  padding: 2px;
}

#btn-cart-delete {
  width: 50px;
  height: 30px;
  background-color: #fff;
  color: #0f1a3b;
  border: 1px solid #0f1a3b;
}

#ghead-cart-price,
#gbody-cart-price {
  grid-template-columns: 4fr 1fr 4fr 1fr 4fr;
}

#gbody-cart-price div {
  font-family: mice-bold;
}

#cart-btn-area {
  text-align: center;
  padding: 50px 0;
}

#cart-btn-area .btn-store-cart {
  width: 150px;
  height: 40px;
}

#cart-btn-area #btn-cart-back {
  margin-right: 5px;
  background-color: #fff;
  border: 1px solid #0f1a3b;
  color: #0f1a3b;
}

#cart-btn-area #btn-cart-pay {
  margin-left: 5px;
  background-color: #0f1a3b;
  color: #fff;
}

/* 결제 */
#store-step-pay i {
  color: #0f1a3b;
}
#store-step-pay p {
  color: #0f1a3b;
  font-family: mice-bold;
}

/** 결제 완료 */
#store-step-complete i {
  color: #0f1a3b;
}

#store-step-complete p {
  color: #0f1a3b;
  font-family: mice-bold;
}

#store-complete-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  padding: 30px 0;
  border-top: 1px solid #000;
}

#msg-store-complete {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
}

#tbl-store-complete {
  width: 50%;
  margin: 20px 0;
  border-collapse: collapse;
}

#tbl-store-complete tr {
  height: 50px;
}

#tbl-store-complete tr:nth-child(2) {
  border-bottom: 1px solid #e2e2e2;
}

#tbl-store-complete th {
  text-align: left;
}

#tbl-store-complete td {
  text-align: right;
}

#store-complete-main > p {
  width: 100%;
  padding-top: 10px;
  margin-bottom: 50px;
  border-top: 1px solid gray;
}

.btn-store-complete {
  width: 150px;
  height: 40px;
  /* font-family: mice-bold; */
}

.btn-store-complete#btn-store-history {
  background-color: #fff;
  border: 1px solid #0f1a3b;
  margin-right: 5px;
}

.btn-store-complete#btn-store-list {
  margin-left: 5px;
  background-color: #0f1a3b;
  border: 1px solid #0f1a3b;
  color: #fff;
}

/** 관리자 */

/* 상품 목록 */
#btn-store-register {
  background-color: #0f1a3b;
  color: #fff;
  margin-right: 10px;
}

#btn-store-reorder {
  background-color: #e59500;
  color: #fff;
}

.btn-store-mng {
  width: 100px;
  height: 35px;
}

.btn-store-list.btn-store-modify {
  background-color: #fff;
  border: 1.5px solid #0f1a3b;
  color: #0f1a3b;
  font-family: mice-bold;
}

.btn-store-list.btn-store-modify:active {
  background-color: #0f1a3b;
  color: #fff;
}

.btn-store-list.btn-store-delete {
  background-color: #fff;
  border: 1.5px solid #e2202c;
  color: #e2202c;
  font-family: mice-bold;
}

.btn-store-list.btn-store-delete:active {
  background-color: #e2202c;
  color: #fff;
}

#modal-store-register {
  display: none;
}

#modal-store-modify {
  display: none;
}

/* 상품 재배치 */
#btn-store-cancel {
  background-color: #e2e2e2;
  color: #0f1a3b;
  margin-right: 10px;
}

#btn-store-save {
  background-color: #0f1a3b;
  color: #fff;
}

/* 상품 등록 (모달) */
.modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
}

.modal-store {
  position: relative;
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
  border-radius: 5px;
  background-color: #fff;
}

.modal-store .modal-title {
  padding: 10px;
}

.modal-store .modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 85%;
  padding: 30px 0 5px 0;
}

.modal-form .modal-img-area {
  text-align: center;
  border: 1px solid #e2e2e2;
}

.modal-form .modal-img-area i {
  padding: 60px;
}

.modal-form .product-img {
  display: none;
}

.modal-form .modal-select,
.modal-form .modal-input {
  width: 100%;
  height: 80%;
}

.modal-form .modal-input {
  padding-left: 3px;
}

.modal-btn-area {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 10px 0;
}

.modal-btn {
  width: 80px;
  height: 30px;
}

.modal-btn-save {
  background-color: #0f1a3b;
  color: #fff;
}

.modal-btn-cancel {
  background-color: #e2e2e2;
  color: #000;
}
