@font-face {
  font-family: mice-bold;
  src: url('../font/MICEGothic\ Bold.ttf');
}

#admin-wrapper {
  width: 1000px;
  margin: 0 auto;
}
/* 스크롤바 생성시 옆으로 밀리는 현상 제거 */
/* 기본 스크롤 제거 */
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 대체 스크롤 생성 */
body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

a {
  cursor: pointer;
}

/* adminSiteMange */

/*  */
/* list jsp */
/*  */

/* 검색창 */

.search-input {
  border: 1px solid;
  width: 50%;
  height: 30px;
  margin-right: 10px;
  border-radius: 2px;
}

.search-btn {
  border: 1px solid;
  border-color: #0f1a3b;
  width: 5%;
  height: 30px;
  background-color: #0f1a3b;
  color: white;
  border-radius: 2px;
}

#search-area {
  margin: 20px 0;
}

hr {
  border: none;
  height: 1px;
  background-color: lightgray;
}

select {
  border: 1px solid;
  width: 7%;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 2px;
}

/* 메뉴탭 */

#homepage-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

#homepage-tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homepage-tab-item {
  width: 150px;
  height: 50px;
  flex-grow: 1;
}

.homepage-tab-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  cursor: default;
}

.homepage-tab-item a:hover {
  border-bottom: 3px solid #0f1a3b;
  font-family: mice-bold;
}

.homepage-tab-border {
  border-bottom: 3px solid #0f1a3b;
}

/* 공통 버튼 */

/* 오른쪽 상단 왼쪽 남색 버튼 */
.left-top-dark-btn {
  margin-left: 180px;
  border: 1px solid #0f1a3b;
  background-color: #0f1a3b;
  color: white;
  width: 7%;
  height: 30px;
}

/* 오른쪽 상단 오른쪽 흰색 버튼 */
.right-top-white-btn {
  border: 1px solid #0f1a3b;
  background-color: white;
  color: black;
  width: 7%;
  height: 30px;
}

/* faq 수정 버튼 */
.modify-btn-area {
  width: 7%;
}

.faq-modify-btn {
  margin: 20px 0;
  border: 1px solid #0f1a3b;
  background-color: #0f1a3b;
  color: white;
  width: 90%;
  height: 30px;
}

/* 게시판 목록 */
#board-header {
  font-weight: mice-bold;
  padding: 20px 0;
}

.board-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid lightgray;
}

#board-header > .title-col,
#board-header > .qna-title-col {
  text-align: center;
}
.check-col {
  width: 5%;
}

.num-col {
  width: 10%;
}

.title-col {
  width: 70%;
  text-align: left;
}

.date-col {
  width: 15%;
}

.type-col {
  width: 15%;
}

/* Q&A 목록 전용 col width */
.qna-title-col {
  width: 60%;
  text-align: left;
}

.qna-date-col {
  width: 10%;
}

.qna-type-col {
  width: 10%;
}

.qnd-writer-col {
  width: 10%;
}

/* 체크박스 색깔 변경 */
input:checked {
  accent-color: #0f1a3b;
}

/* faq 게시판 답변 */

.faq-board-answer {
  display: flex;
  border-bottom: 1px solid lightgray;
}

.answer-content {
  width: 80%;
  padding: 20px 40px 20px 30px;
}

#faq-title-header {
  width: 70%;
}

.faq-board-answer::before {
  display: inline-block;
  content: 'A. ';
  height: 100%;
  padding: 20px 0 20px 95px;
  float: left;
}

.faq-title-col::before {
  display: inline-block;
  content: 'Q. ';
  margin: 0 5px;
}

.no-show {
  display: none;
}

i {
  float: right;
}

/*  */
/* 등록, 수정 jsp */
/*  */
