@charset "UTF-8";

.theater-wrapper {
	width : 500px;
	margin : 0 auto;
}
.widetheater-wrapper {
	width : 750px;
	margin : 0 auto;
}

/* adminTheaterRegister(관리자) */
.title {
	flaot : left;
	line-height : 30px;
	color : #0F1A3B;
}
.input {
	float : right;
}
#theater-wrap {
	width : 380px;
	margin-bottom : 30px;
}
	#cinema-input {
		width : 220px;
		padding-left : 8px;
		height : 30px;
		border : solid 1px #0F1A3B;
	}
#name-wrap {
	width : 380px;
	margin-bottom : 30px;
}
	#name-input {
		width : 220px;
		height : 30px;
		padding-left : 8px;
		border : solid 1px #0F1A3B;
	}
#seat-wrap {
	width : 210px;
	margin-bottom : 15px;
}
	#seat-button {
		width : 60px;
		height : 20px;
		font-size : 12px;
		color : white;
		background-color : #0F1A3B;
	}
.seat-choice {
	width : 354px;
	margin-bottom : 25px;
}
	.seat-text {
		float : right;
		margin-top : 5px;
		margin-left : 5px;
		margin-right : 5px;
	}
	.seat-input {
		float : right;
		width : 80px;
		height : 30px;
		margin-left : 5px;
		margin-right : 5px;
		padding-left : 5px;
		text-align : center;
		font-size : 15px;
		border : solid 1px #0F1A3B;
	}
#theater-register-button {
	float : right;
	margin-top : 60px;
}
	#gotheater-list {
		width : 100px;
		height : 30px;
		margin-right : 15px;
		background-color : white;
		border : solid 1px #0F1A3B;
		color : #0F1A3B;
	}
	#theater-button {
		width : 100px;
		height : 30px;
		color : white;
		background-color : #0F1A3B;
	}
/* adminTheaterDetail(관리자) */
#detail-cinemawrap {
	display : flex;
	border-top : solid 1px gray;
	border-bottom : solid 1px #e2e2e2;
	padding-top : 18px;
	padding-bottom : 18px;
	padding-left : 10px;
}
#cinema-title {
	margin-right : 132px;
}
#detail-theater-name {
	margin-right : 117px;
}
#detail-namewrap {
	display : flex;
	padding-top : 18px;
	padding-bottom : 18px;
	padding-left : 10px;
	border-bottom : solid 1px #e2e2e2;
	margin-bottom : 30px;
}
.detail-seatwrap {
	width : 222px;
	padding-left : 10px;
	margin-bottom : 10px;
}
#seat-title {
	color : #0F1A3B;
	padding-left :10px;
	margin-bottom : 15px;
}
#showseat-wrap {
	height : 280px;
	padding-left : 10px;
	margin-bottom : 50px;
}
.show-seat {
	margin-top : 15px;
	margin-right : 30px;
	float : left;
}
	.seat-box {
		width : 20px;
		height : 20px;
		border : solid 1px #0F1A3B;
		background-color : white;
	}
#theater-detailbutton {
	height : 30px;
	margin-bottom : 80px;
}
.detail-button {
	width : 100px;
	height : 30px;
	float : right;
	margin-left : 10px;
	color : white;
	background-color : #0F1A3B;
	border : solid 1px #0F1A3B;
}
.tdetail-button {
	width : 100px;
	height : 30px;
	float : right;
	margin-left : 10px;
	color : #0F1A3B;
	background-color : white;
	border : solid 1px #0F1A3B;
}
/* adminTheaterModify.jsp */
#modify-buttonarea {
	margin-top : 80px;
	float : right;
}
	#modify-theater-name {
		width: 265px;
		margin-bottom : 30px;
	}
	#modify-list {
		width : 100px;
		height : 30px;
		margin-right : 20px;
		color : #0F1A3B;
		background-color : white;
		border : solid 1px #0F1A3B;
	}
	#modify-done {
		width : 100px;
		height : 30px;
		color : white;
		background-color : #0F1A3B;
		border : solid 1px #0F1A3B;
	}