@charset "UTF-8";

#ticket-tab {
  border-bottom: 3px solid #f0c808;
}

button {
	cursor : pointer;
}
.selected-seat {
	color : white;
	border : solid 1px #0F1A3B;
	background-color : #0F1A3B;
}
.not-selected-seat {
	background-color : white;
	color : #0F1A3B;
	border : solid 1px #0F1A3B;
}

#pay-complete-view {
	text-align : center;
	margin-top : 280px;
}
.background-off {
	width : 100px;
	height : 30px;
	background-color : white;
	border : solid 1px #0F1A3B;
	color : #0F1A3B;
	margin-right : 20px;
	margin-top : 20px;
}
.background-on {
	width : 100px;
	margin-top : 20px;
	height : 30px;
	background-color : #0F1A3B;
	border : solid 1px #0F1A3B;
	color : white;
}

.ticket-movie-wrapper {
	width : 1100px;
	margin : 0 auto;
	margin-top : 90px;
	height: 620px;
	min-height: 100%;
	padding-bottom: 120px;
}

.ticket-movie-wrappers {
	width : 1100px;
	margin : 0 auto;
	margin-top : 90px;
	margin-bottom : 100px;
	height: 620px;
	min-height: 100%;
	padding-bottom: 120px;
}

.modal-wrapper {
	position : absolute;
	width : 100%;
	height : 100%;
	background-color : rgba(0, 0, 0, 0.5);
	top : 0px;
	left : 0px;
	z-index : 1;
}

.modal-ticket {
	position: relative;
	width: 600px;
	height: 450px;
	top: 55%;
	left: 50%;
	margin-left: -300px;
	margin-top: -200px;
	padding-top : 40px;
	padding-bottom : 40px;
	padding-left : 40px;
	padding-right : 40px;
	border-radius: 5px;
	background-color: #fff;	
}

#movie-choice-done {
	display : none;
}

.time-choice-wrapper {
	width : 130px;
	height : 70px;
	margin-top : 15px;
	padding-top : 11px;
	border : solid 1px #0F1A3B;	 
	border-radius : 15px;
	text-align : center;
	cursor : pointer;
}
.movie-seat-choice {
	margin-bottom : 10px;
}

/* movieTicketTime(사용자) */
.ticket-movie-time {
	margin-left : 20px;
	margin-top : 20px;
}
.ticket-movie-times {
	margin-top : 20px;
}
.seat-time-margin {
	margin-bottom : 10px;
}
.cmovie-name {
	margin-bottom : 20px;
}
.ticket-choice {
	width : 100%;
	height : 160px;
	color : white;
	border : solid 2px #F0C808;
	background-color : #F0C808;
	border-bottom : none;
	text-align : center;
}
.ticket-text {
	width : 100%;
	height : 160px;
	color : #F0C808;
	border : solid 2px #F0C808;
	border-bottom : none;
	text-align : center;
}
.ticket-text-bottom {
	width : 100%;
	height : 160px;
	color : #F0C808;
	border : solid 2px #F0C808;
	text-align : center;	
}
.ticket-text-bottomon {
	width : 100%;
	height : 160px;
	color : white;
	background-color : #F0C808;
	border : solid 2px #F0C808;
	text-align : center;	
}
	.ticket-intext {
		margin-top : 50px;
	}
	.ticket-right {
		width : 93%;
		margin-bottom : 50px;
		float : right;
		height : 640px;
		border : solid 1px #0F1A3B;	
	}
.ticket-top {
	display : flex;
}
	.ticket-cinema-name {
		width : 25%;
		height : 45px;
		text-align : center;
		line-height : 40px;
		color : white;
		border : solid 1px white;
		background-color : #0F1A3B;
	}
	.ticket-movie-name {
		width : 28%;
		height : 45px;
		text-align : center;
		line-height : 40px;
		color : white;
		border : solid 0.1px white;
		background-color : #0F1A3B;	
	}
	.ticket-theater-choice {
		width : 50%;
		height : 45px;
		text-align : center;
		line-height : 40px;
		color : white;
		border : solid 1px white;
		background-color : #0F1A3B;	
	}
	.wrap-inside {
		display : flex;
	}
		.cinema-name-wrap {
			width : 25%;
			height : 595px;
			color : white;
			border : solid 1px #0F1A3B;	
		}
			.cinema-name-outside {
				width : 100%;
				height : 45px;
				padding-left : 10px;
				line-height : 45px;
				border-bottom : solid 1px #0F1A3B;	
			}
				[id^="cinema-name-outside"] {
					padding-right : 10px;
				}
				.cinema-name-text {
					color : black;
				}
				.cinema-name-radio {
					float : right;
					margin-top : 15px;
				}
			.movie-name-outside {
				width : 100%;
				height : 45px;
				padding-left : 10px;
				line-height : 45px;
				border-bottom : solid 1px #0F1A3B;
			}
				.movie-name-text {
					color : black;
				}
				.year-month {
					width : 100%;
					margin-top : 10px;
					margin-left : 10px;
					font-size : 14px;
					color : black;
				}
					.tmday-button {
						width : 11.6%;
						background-color : white;
						margin-top : 10px;
						margin-bottom : 10px;
					}
		.movie-name-wrap {
			width : 28%;
			height : 595px;
			color : white;
			border : solid 1px #0F1A3B;			
		}
		.theater-choice-wrap {
			width : 50%;
			height : 595px;
			color : white;
			border : solid 1px #0F1A3B;				
		}
.ticket-left {
	width : 7%;
	float : left;
}
.title-text {
	color : black;
}
.title-radio-button {
	float : right;
	margin-top : 15px;
	margin-right : 10px;
}
.font-black {
	color : black;
}

/* movieChoiceDone (모달창) */
.modal-wrapper {
	position : absolute;
	width : 100%;
	height : 100%;
	background-color : rgba(0, 0, 0, 0.5);
	top : 0px;
	left : 0px;
	z-index : 1;
}

.modal-ticket {
	position: relative;
	width: 600px;
	height: 450px;
	top: 55%;
	left: 50%;
	margin-left: -300px;
	margin-top: -200px;
	padding-top : 40px;
	padding-bottom : 40px;
	padding-left : 40px;
	padding-right : 40px;
	border-radius: 10px;
	background-color: #fff;	
}
	#mticket-top {
		width : 600px;
		height : 60px;
		position: relative;
		top: 55%;
		left: 50%;
		margin-left: -300px;
		margin-top: -244px;
		border-top-left-radius : 10px;
		border-top-right-radius : 10px;
		background-color : #0F1A3B;	
	}
		#mticket-top-text {
			line-height : 60px;
			text-align : center;
			color : white;
		}
	#mticket-wrap {
		display : flex;
	}
	#mticket-img {
		padding-left : 40px;
		padding-top : 35px;
	}
	#mticket-information {
		margin-top : 60px;
		margin-left : 40px;
		padding-right : 40px;
	}
		.information-all {
			margin-bottom : 15px;
		}
	#choice-seat-button {
		width : 100px;
		height : 30px;
		color : white;
		margin-top : 47px;
		margin-left : 160px;
		float : right;
		border : solid 1px #0F1A3B;	
		background-color : #0F1A3B;	
	}
/* movieTicketSeat */
#ticket-seat-information {
	width : 93%;
	height : 162px;
	float : right;
	background-color : #0F1A3B;	
}
	#information-wrapper {
		margin-left : 80px;
		margin-right : 80px;
		margin-top : 5px;
		margin-bottom : 5px;
	}
		#information-img {
			float : left;
			margin-right : 40px;
		}
		#information-text {
			float :left;
			width : 200px;
			padding-top : 25px;
		}
		#choice-reset-button {
			width : 100px;
			height : 30px;
			color : #0F1A3B;
			border : solid 1px #0F1A3B;
			background-color : white;
			margin-top : 55px;
			margin-left : 45px;
		}
			.information-font {
				color : white;
				margin-bottom : 10px;
			}
			.movie-in-bottom {
				margin-bottom : 12px;
			}
		#adult-count {
			display : flex;
			margin-right : 50px;
		}
		#teenager-count {
			display : flex;
		}
	#count-choice {
		float : right;
		display : flex;
		margin-top : 60px;
	}
		.count-font {
			color : white;
			margin-right : 20px;
			line-height : 30px;
		}
			#adult-text {
				width : 50px;
				height : 30px;
				text-align : center;
				line-height : 30px;
				background-color : #fff;
				border : solid 1px white;
			}
			#teenager-text {
				width : 50px;
				height : 30px;
				text-align : center;
				line-height : 30px;
				background-color : #fff;
				border : solid 1px white;
			}
			#adult-input {
				width : 80px;
				height : 30px;
				text-align : center;
			}
			#teenager-input {
				width : 80px;
				height : 30px;
				text-align : center;		
			}
			input[type=number]::-webkit-inner-spin-button,
			input[type=number]::-webkit-outer-spin-button {
  				 opacity: 1;
			}
#ticket-seat-area {
	width : 93%;
	float : right;
	height : 478px;
	border : solid 1px #0F1A3B;	
}
	#showseat-wrap {
		height : 280px;
		padding-left : 10px;
		margin-top : 20px;
		margin-left : 30px;
		margin-bottom : 50px;
	}
	.show-seat {
		margin-top : 10px;
		margin-right : 30px;
		float : left;
	}
		.seat-box {
			width : 32px;
			height : 32px;
			margin-bottom : 3px;
		}
.ticket-seat-button {
	float : right;
	margin-top : -50px;
	margin-right : 20px;
}
	.seat-button {
		width : 100px;
		height : 30px;
		border : solid 1px #0F1A3B;
		margin-right : 10px;
	}
		#removie {
			background-color : white;
			color : #0F1A3B;
		}
		#gopay {
			background-color : #0F1A3B;
			color : white;
		}
/* movieTicketPay */
.ticket-pay-area {
	width : 93%;
	height : 595px;
	float : right;
}
	.pay-top {
		width : 100%;
		display : flex;
	}
		.pay-information-top {
			width : 40%;
			height : 45px;
			color : white;
			line-height : 45px;
			text-align : center;
			background-color : #0F1A3B;
			border-right : solid 1px white;
		}
			.pay-information-bottom {
				width : 100%;
				height : 595px;
				border-right : solid 1px #0F1A3B;
				border-bottom : solid 1px #0F1A3B;
			}
		.pay-list-top {
			width : 100%;
			height : 45px;
			color : white;
			line-height : 45px;
			text-align : center;
			background-color : #0F1A3B;
		}
			.pay-list-bottom {
				height : 450px;
				text-align : left;
				padding-top : 5px;
				margin-left : 60px;
				border-right : solid 1px #0F1A3B;
			}
.information-text {
	margin : 0 auto;
}
	#pay-movie-img {
		margin-top : 20px;
	}
.pay-input {
	width : 100%;
	height : 145px;
	line-height : 145px;
	background-color : #0F1A3B;
	display : flex;
	justify-content: center;
}
	.font-align {
		text-align : left;
		margin-left : 25px;
	}
	.font-color {
		color : black;
		height : 20px;
		margin-bottom : 10px;
	}
	#change-seat {
		width : 100px;
		height : 30px;
		background-color :#0F1A3B;
		border : solid 1px #0F1A3B;
		color : white;
		float : right;
		margin-top : 20px;
		margin-right : 20px;
	}
		.font-yellow {
			color : #E59500;
		}
		.font-navy {
			color : #0F1A3B;
		}
		.pay-list-user {
			margin-top : 30px;
			display : flex;		
		}
		.play-left {
			float : left;
		}
			#point-tip {
				font-size : 12px;
			}
			#write-point {
				width : 100px;
				height : 30px;
				text-align : right;
				border : solid 1px #0F1A3B;
				padding-right : 10px;
			}
			/* input number에 화살표 없애기 */
			input[id="write-point"]::-webkit-outer-spin-button,
			input[id="write-point"]::-webkit-inner-spin-button {
    			-webkit-appearance: none;
			    margin: 0;
			}
				.point-button {
					width : 70px;
					height : 30px;
					background-color : #0F1A3B;
					border : solid 1px #0F1A3B;
					color : white;
				}
	.pay-choice-wrap {
		display : flex;
		margin-top : 50px;
	}
		.img-wrapper {
			width : 100px;
			height : 92px;
			text-align : center;
			border : solid 1px #0F1A3B;
			margin-right : 50px;
		}
		.pay-choice-text {
			margin-top : -10px;
		}
		img[class^="pay"] {
			width : 98px;
			height : 90px;
		}
	.text-right {
		margin-right : 20px;
	}
	.text-lright {
		margin-left : 20px;
		margin-right : 20px;
	}
		#btn-movie-pay {
			width : 100px;
			height : 30px;
			color : white;
			border : solid 1px #0F1A3B;
			background-color : #0F1A3B;
			margin-top: 180px;
			margin-right :30px;
		}