<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CinemaMapper">
	<resultMap type ="Cinema" id="CinemaResultMap">
		<id property="cinemaNo" column="CINEMA_NO"/>
		<result property="cinemaName" column="CINEMA_NAME"/>
		<result property="cinemaArea" column="CINEMA_AREA"/>
		<result property="cinemaAddress1" column="CINEMA_ADDRESS1"/>
		<result property="cinemaAddress2" column="CINEMA_ADDRESS2"/>
		<result property="cinemaTel" column="CINEMA_TEL"/>
		<result property="cinemaContent" column="CINEMA_CONTENT"/>
		<result property="cinemaPark" column="CINEMA_PARK"/>
		<result property="cinemaPublic" column="CINEMA_PUBLIC"/>
		<result property="cinemaImgName" column="CINEMA_IMG_NAME"/>
		<result property="cinemaImgRename" column="CINEMA_IMG_RENAME"/>
		<result property="cinemaImgPath" column="CINEMA_IMG_PATH"/>
		<result property="cinemaStatus" column="CINEMA_STATUS"/>
	</resultMap>
	<resultMap type="CinemaMovie" id="CinemaMovieResultMap">
		<result property="movieNo" column="MOVIE_NO" />
		<result property="movieTitle" column="MOVIE_TITLE"/>
		<result property="movieAge" column="MOVIE_AGE" />
		<result property="theaterName" column="THEATER_NAME"/>
		<result property="movieDay" column="MOVIE_DAY"/>
		<result property="movieStart" column="MOVIE_START"/>
		<result property="movieEnd" column="MOVIE_END"/>
		<result property="movieTicket" column="MOVIE_TICKET"/>
		<result property="movieSeat" column="MOVIE_SEAT"/>  
	</resultMap>
	<!-- 영화관 등록(관리자) -->
	<insert id="insertCinema">
		INSERT INTO CINEMA_TBL VALUES(SEQ_CINEMA_NO.NEXTVAL, #{cinemaName}, #{cinemaArea}, #{cinemaAddress1}, #{cinemaAddress2}, #{cinemaTel}, #{cinemaContent}, #{cinemaPark}, #{cinemaPublic}, #{cinemaImgName}, #{cinemaImgRename}, #{cinemaImgPath}, DEFAULT)
	</insert>
	<!-- 영화관 수정(관리자) -->
	<update id="updateCinema">
		UPDATE CINEMA_TBL SET CINEMA_NAME = #{cinemaName}, CINEMA_AREA = #{cinemaArea}, CINEMA_ADDRESS1 = #{cinemaAddress1}, CINEMA_ADDRESS2 = #{cinemaAddress2}, CINEMA_TEL = #{cinemaTel}, CINEMA_CONTENT = #{cinemaContent}, CINEMA_PARK = #{cinemaPark}, CINEMA_PUBLIC = #{cinemaPublic}, CINEMA_IMG_NAME = #{cinemaImgName}, CINEMA_IMG_RENAME = #{cinemaImgRename}, CINEMA_IMG_PATH = #{cinemaImgPath} WHERE CINEMA_NO = #{cinemaNo}
	</update>
	<!-- 영화관 삭제(관리자) -->
	<delete id="deleteOneCinema">
		DELETE FROM CINEMA_TBL WHERE CINEMA_NO = #{cinemaNo}
	</delete>
	<!-- 영화관 리스트(관리자) -->
	<select id="selectAllCinema" resultMap="CinemaResultMap">
		SELECT * FROM CINEMA_TBL WHERE CINEMA_STATUS = 'Y' ORDER BY CINEMA_NO
	</select>
	<!-- 영화관 상세(관리자) -->
	<select id="selectOneCinema" resultMap="CinemaResultMap">
		SELECT * FROM CINEMA_TBL WHERE CINEMA_NO = #{cinemaNo} AND CINEMA_STATUS = 'Y'
	</select>
	<!-- 영화관 영화 조회 (사용자) -->
	<select id="selectMovieNowOne" resultMap="CinemaMovieResultMap">
		SELECT DISTINCT MT.MOVIE_NO, MT.MOVIE_TITLE
		FROM MOVIE_TBL MT, CINEMA_TBL CT, MOVIE_TIME_TBL MTT 
		WHERE MT.MOVIE_NO = MTT.MOVIE_NO
		AND MTT.MOVIE_DAY = #{movieDay}
		AND MTT.CINEMA_NO = #{cinemaNo}
	</select>
	<!-- 영화관 영화 정보 조회(사용자) -->
	<select id="selectAllCinemaMovie" resultMap="CinemaMovieResultMap">
		SELECT MT.MOVIE_TITLE, MT.MOVIE_AGE, TT.THEATER_NAME, MTT.MOVIE_NO, MTT.MOVIE_DAY, MTT.MOVIE_START, MTT.MOVIE_END, MTT.MOVIE_TICKET, MTT.MOVIE_SEAT
		FROM MOVIE_TBL MT, THEATER_TBL TT, MOVIE_TIME_TBL MTT
		WHERE MT.MOVIE_NO = MTT.MOVIE_NO
		AND TT.THEATER_NO = MTT.THEATER_NO
		AND MTT.MOVIE_DAY = #{movieDay}
		AND MTT.CINEMA_NO = #{cinemaNo}
		ORDER BY MOVIE_START
	</select>
</mapper>