<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FaqMapper">
	<resultMap type="Faq" id="faqResultMap">
		<id property="faqNo" column="FAQ_NO"></id>
		<result property="adminId" column="ADMIN_ID"/>
		<result property="faqTitle" column="FAQ_TITLE"/>
		<result property="faqType" column="FAQ_TYPE"/>
		<result property="faqContent" column="FAQ_CONTENT"/>
		<result property="faqCreate" column="FAQ_CREATE"/>
	</resultMap>
	
	<insert id="insertFaq">
	 INSERT INTO FAQ_TBL VALUES(FAQ_SEQ.NEXTVAL, #{adminId}, #{faqTitle}, #{faqType}, #{faqContent} , DEFAULT)
	</insert>
	<update id="updateFaq">
		UPDATE FAQ_TBL SET FAQ_TITLE=#{faqTitle}, FAQ_TYPE=#{faqType}, FAQ_CONTENT=#{faqContent} WHERE FAQ_NO=#{faqNo}
	</update>
	
	<delete id="deleteFaqList">
		DELETE FROM FAQ_TBL WHERE FAQ_NO IN (${deleteNo})
	</delete>
	
	<select id="selectFaq" resultMap="faqResultMap">
		SELECT * FROM FAQ_TBL WHERE FAQ_NO=#{faqNo}
	</select>
	
	<select id="selectFaqList" resultMap="faqResultMap">
		SELECT * FROM FAQ_TBL ORDER BY FAQ_TYPE ASC
	</select>
	
	<select id="selectNewFaqList" resultMap="faqResultMap">
		SELECT FAQ_NO, FAQ_TITLE
		FROM (SELECT FAQ_NO, FAQ_TITLE FROM FAQ_TBL ORDER BY FAQ_NO DESC)
		WHERE ROWNUM <![CDATA[<=]]> #{top}
	</select>
</mapper>