<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MateMapper">
	
	<!-- Survey -->
	<resultMap type="Survey" id="surveyResultMap">
		<id property="surveyNo" column="SURVEY_NO"/>
		<result property="gender" column="GENDER"/>
		<result property="age" column="AGE"/>
		<result property="cinemaName" column="CINEMA_NAME"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberBirth" column="MEMBER_BIRTH"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="matchingActive" column="MATCHING_ACTIVE"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="updateDate" column="UPDATE_DATE"/>
		<result property="deleteDate" column="DELETE_DATE"/>
	</resultMap>
	
	<!-- SurveyGenre -->
	<resultMap type="SurveyGenre" id="surveyGenreResultMap">
		<id property="surveyGenreNo" column="SURVEY_GENRE_NO"/>
		<result property="genre" column="GENRE"/>
		<result property="surveyNo" column="SURVEY_NO"/>
	</resultMap>
	
	<!-- mate option resultMap -->
	<!-- Cinema -->
	<resultMap type="CinemaOption" id="cinemaOptionResultMap">
		<id property="cinemaNo" column="CINEMA_NO"></id>
		<result property="cinemaName" column="CINEMA_NAME"/>
	</resultMap>
	
	<!-- Genre -->
	<resultMap type="GenreOption" id="genreOptionResultMap">
		<id property="genreNo" column="GENRE_NO"/>
		<result property="genre" column="GENRE"/>
	</resultMap>
	
	<!-- 더미 멤버 리스트 insert -->
	<insert id="insertMemberList" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="member">
			INTO MEMBER_TBL VALUES(#{member.memberId}, #{member.memberPwd}, #{member.memberName}, #{member.memberNick}, #{member.memberBirth}, #{member.memberGender}, #{member.memberPhone}, #{member.memberEmail}, NULL, NULL, NULL, #{member.memberSignUpDate}, #{member.memberLevel}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, 'Y', DEFAULT, NULL, DEFAULT)
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<insert id="insertSurveyList" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="survey">
			INTO SURVEY_TBL VALUES(#{survey.surveyNo}, #{survey.gender}, #{survey.age}, #{survey.cinemaName}, #{survey.memberId}, #{survey.memberBirth}, #{survey.memberGender}, DEFAULT, DEFAULT, NULL, NULL)
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<insert id="insertSurveyGenreList" parameterType="java.util.List">
		INSERT ALL
			<foreach collection="list" item="surveyGenre">
				INTO SURVEY_GENRE_TBL VALUES(#{surveyGenre.surveyGenreNo}, #{surveyGenre.genre}, #{surveyGenre.surveyNo})
			</foreach>
			SELECT * FROM DUAL
	</insert>
	
	
	<insert id="insertSurvey">
		INSERT INTO SURVEY_TBL VALUES(SEQ_SURVEY_NO.NEXTVAL, #{gender}, #{age}, #{cinemaName}, #{memberId}, #{memberBirth}, #{memberGender}, DEFAULT, DEFAULT, NULL, NULL)
	</insert>
	
	<!-- 매칭 테이블에 INSERT -->
	<insert id="insertMatching" parameterType="java.util.HashMap">
		INSERT INTO MATCHING_TBL VALUES(SEQ_MATCHING_NO.NEXTVAL, #{requesterId}, #{respondentId}, DEFAULT, NULL)
	</insert>
	
	<update id="updateMateStatusY">
		UPDATE MEMBER_TBL SET MATE_STATUS='Y' WHERE MEMBER_ID=#{memberId}
	</update>
	
	<select id="selectMateStatus" resultType="_int">
		SELECT COUNT(*) FROM MEMBER_TBL WHERE MEMBER_ID=#{memberId} AND MATE_STATUS='Y' 
	</select>
	
	<select id="selectSurveyNo" resultType="_int">
		SELECT SURVEY_NO FROM SURVEY_TBL WHERE MEMBER_ID=#{memberId}
	</select>
	
	<select id="selectSurveyByMemberId" resultMap="surveyResultMap">
		SELECT * FROM SURVEY_TBL WHERE MEMBER_ID=#{memberId}
	</select>
	
	<select id="selectOtherSurveyList" resultMap="surveyResultMap">
		SELECT * FROM SURVEY_TBL WHERE MATCHING_ACTIVE='Y' AND NOT MEMBER_ID=#{memberId} ORDER BY SURVEY_NO ASC
	</select>
	
	<!-- 성별, 나이, 지점명으로 필터링한 surveyNo 기준으로 SurveyGenre를 select -->
	<select id="selectOtherSurveyGenreList" resultMap="surveyGenreResultMap" parameterType="java.util.List">
		SELECT * FROM SURVEY_GENRE_TBL WHERE SURVEY_NO IN
		<foreach collection="list" item="survey" open="(" close=")" separator=",">
			#{survey.surveyNo}
		</foreach>
		ORDER BY SURVEY_NO ASC, GENRE ASC
	</select>
	
	<select id="selectSurveyGenreListBySurveyNo" resultMap="surveyGenreResultMap">
		SELECT * FROM SURVEY_GENRE_TBL WHERE SURVEY_NO=#{surveyNo} ORDER BY GENRE ASC
	</select>
	
	<!-- 사용자가 선택한 장르 옵션 -->
	<insert id="insertSurveyGenre" parameterType="java.util.HashMap" >
		INSERT INTO SURVEY_GENRE_TBL(SURVEY_GENRE_NO, GENRE, SURVEY_NO) SELECT SEQ_SURVEY_GENRE_NO.NEXTVAL AS SURVEY_GENRE_NO, A.* FROM
		(
		<foreach collection="genreList" item="genre" separator="UNION ALL">
			SELECT #{genre} AS GENRE, #{surveyNo} AS SURVEY_NO FROM DUAL
		</foreach>
		)A
	</insert>
	
	<!-- 자주찾는 영화관 옵션 목록 불러오기 -->
	<select id="selectCinemaOption" resultMap="cinemaOptionResultMap">
		SELECT * FROM CINEMA_OPTION_VIEW ORDER BY CINEMA_NAME ASC
	</select>
	
	<!-- 선호장르 옵션 목록 불러오기 -->
	<select id="selectGenreOption" resultMap="genreOptionResultMap">
		SELECT * FROM GENRE_OPTION_TBL ORDER BY GENRE ASC
	</select>
	
	<select id="selectExistMatching" resultType="_int">
		SELECT COUNT(*) FROM MATCHING_TBL WHERE (REQUESTER_ID=#{requesterId} AND RESPONDENT_ID=#{respondentId}) OR (REQUESTER_ID=#{respondentId} AND RESPONDENT_ID=#{requesterId}) 
	</select>
	
	
	
	
	
</mapper>