<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<resultMap type="Member" id="memberResultMap">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PW"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberNick" column="MEMBER_NICK"/>
		<result property="memberBirth" column="MEMBER_BIRTH"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberImgName" column="MEMBER_IMG_NAME"/>
		<result property="memberImgRename" column="MEMBER_IMG_RENAME"/>
		<result property="memberImgPath" column="MEMBER_IMG_PATH"/>
		<result property="memberSignUpDate" column="MEMBER_SIGNUP_DATE"/>
		<result property="memberLevel" column="MEMBER_LEVEL"/>
		<result property="memberPoint" column="MEMBER_POINT"/>
		<result property="socialCode" column="SOCIAL_CODE"/>
		<result property="socialType" column="SOCIAL_TYPE"/>
		<result property="memberYn" column="MEMBER_YN"/>
		<result property="mateStatus" column="MATE_STATUS"/>
		<result property="mateReportCount" column="MATE_REPORT_COUNT"/>
		<result property="mateRestartDate" column="MATE_RESTART_DATE"/>
		<result property="memberType" column="MEMBER_TYPE"/>
	</resultMap>
	<resultMap type="Zzim" id="zzimResultMap">
		<id property="zzimNo" column="ZZIM_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="movieNo" column="MOVIE_NO"/>
		<result property="zzimDate" column="ZZIM_DATE"/>
		<result property="movieImgName" column="MOVIE_IMG_NAME"/>
		<result property="movieImgReName" column="MOVIE_IMG_RENAME"/>
		<result property="movieTitle" column="MOVIE_TITLE"/>
		<result property="movieAge" column="MOVIE_AGE"/>
		<result property="movieStartDay" column="MOVIE_STARTDAY"/>
		<result property="movieDirector" column="MOVIE_DIRECTOR"/>
		<result property="movieActor" column="MOVIE_ACTOR"/>
		<result property="movieSee" column="MOVIE_SEE"/>
		<result property="movieZzim" column="MOVIE_ZZIM"/>
		<result property="zzimNo" column="ZZIM_NO"/>
	</resultMap>

	
	<!-- 회원가입 -->
	<insert id="insertMember">
		INSERT INTO MEMBER_TBL(MEMBER_ID, MEMBER_PW, MEMBER_NAME, 
			MEMBER_NICK, MEMBER_BIRTH, MEMBER_GENDER, MEMBER_PHONE, 
			MEMBER_EMAIL, MEMBER_IMG_NAME, MEMBER_IMG_RENAME, 
			MEMBER_IMG_PATH, SOCIAL_CODE, SOCIAL_TYPE)
			VALUES (#{memberId}, #{memberPwd}, #{memberName}, #{memberNick}, #{memberBirth}, 
	        #{memberGender}, #{memberPhone}, #{memberEmail}, #{memberImgName}, #{memberImgRename}, 
	        #{memberImgPath}, #{socialCode}, #{socialType})
	</insert>
	
	<!-- 사용자 로그인 -->
	<select id="selectLoginOne" resultMap="memberResultMap">
		SELECT MEMBER_ID, MEMBER_NAME, MEMBER_NICK, MEMBER_BIRTH, MEMBER_GENDER
        , MEMBER_PHONE, MEMBER_EMAIL, MEMBER_IMG_RENAME, MEMBER_IMG_PATH, MEMBER_SIGNUP_DATE
        , MEMBER_LEVEL, MEMBER_POINT, SOCIAL_CODE, SOCIAL_TYPE, MEMBER_YN
        , MATE_STATUS, MATE_REPORT_COUNT, MATE_RESTART_DATE, MEMBER_TYPE
        FROM MEMBER_TBL
		WHERE MEMBER_ID = #{memberId} 
		AND MEMBER_PW = #{memberPwd}
		AND MEMBER_YN = 'Y'
        AND MEMBER_TYPE = #{memberType}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL
		WHERE MEMBER_NAME = #{memberName}
		AND MEMBER_PHONE = #{memberPhone}
		AND MEMBER_BIRTH = #{memberBirth}
	</select>
	
	<!-- 비밀번호 찾기 (회원 정보 조회) -->
	<select id="findPassword" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_PHONE = #{memberPhone}
	</select>
	
	<!-- 관리자 로그인 -->
	<select id="selectAdminLogin" resultMap="memberResultMap">
		SELECT MEMBER_ID FROM MEMBER_TBL
		WHERE MEMBER_ID = #{memberId} 
		AND MEMBER_PW = #{memberPwd}
		AND MEMBER_YN = 'Y'
        AND MEMBER_TYPE = #{memberType}
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id="checkIdDuplicate" resultType="_int">
		SELECT COUNT(*) FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId} AND MEMBER_YN = 'Y'
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER_TBL
		    SET MEMBER_IMG_NAME = #{memberImgName}
		    , MEMBER_IMG_RENAME = #{memberImgRename}
		    , MEMBER_IMG_PATH = #{memberImgPath}
		    , MEMBER_PW = #{memberPwd}
		    , MEMBER_NICK = #{memberNick}
		    , MEMBER_PHONE = #{memberPhone}
		    , MEMBER_EMAIL = #{memberEmail}
		    WHERE MEMBER_ID = #{memberId}
	</update>
	
	<!-- 마이페이지 -->
	<select id="selectOneById" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL
		WHERE MEMBER_ID = #{memberId} AND MEMBER_YN = 'Y'
	</select>
	
	<!-- 회원정보 조회 -->
	<select id="selectOneByDetailId" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL
		WHERE MEMBER_ID = #{memberId } AND MEMBER_YN = 'Y'
	</select>
	
	<!-- 영화 찜 목록 -->
	<select id="selectAllZzimMovie" resultMap="zzimResultMap">
	SELECT 
	    z.ZZIM_NO, z.MEMBER_ID, z.MOVIE_NO, z.ZZIM_DATE, 
	    mi.MOVIE_IMG_NAME, mi.MOVIE_IMG_RENAME, 
	    mo.MOVIE_TITLE, mo.MOVIE_AGE, mo.MOVIE_STARTDAY, 
	    mo.MOVIE_DIRECTOR, mo.MOVIE_ACTOR, mo.MOVIE_SEE
	    FROM ZZIM_TBL z 
	    JOIN MOVIE_TBL mo 
	    ON z.MOVIE_NO = mo.MOVIE_NO
	    JOIN MOVIE_IMG_TBL mi
	    ON mo.MOVIE_NO = mi.MOVIE_NO
	    WHERE z.MEMBER_ID = #{memberId} AND MOVIE_IMG_NAME = '대표이미지.jpg'
	</select>
	
	<!-- 영화찜 목록 페이징 -->
	<select id="selectZzimCount" resultType="_int">
		SELECT COUNT(*) FROM ZZIM_TBL
		WHERE ZZIM_DATE 
		<![CDATA[<=]]> SYSDATE
	</select>
	
	<!-- 찜 추가 -->
	<insert id="movieListZzimSave" parameterType="Zzim">
		INSERT INTO ZZIM_TBL (ZZIM_NO, MEMBER_ID, MOVIE_NO, ZZIM_DATE)
		VALUES (SEQ_ZZIM_NO.NEXTVAL, #{memberId}, #{movieNo}, SYSDATE)
	</insert>
	<update id="movieListZzimUp" parameterType="MovieList">
		UPDATE MOVIE_TBL SET MOVIE_ZZIM = MOVIE_ZZIM + 1
		WHERE MOVIE_NO = #{movieNo}
	</update>
	
	<!-- 찜 삭제 -->
	<delete id="movieListZzimRemove" parameterType="Zzim">
		DELETE FROM ZZIM_TBL
		WHERE MOVIE_NO = #{movieNo} AND MEMBER_ID = #{memberId}
	</delete>
	<update id="movieListZzimDown" parameterType="MovieList">
		UPDATE MOVIE_TBL SET MOVIE_ZZIM = MOVIE_ZZIM - 1
		WHERE MOVIE_NO = #{movieNo}
	</update>
	
	<!-- 찜 추가 / 삭제시 갯수 가져오기 -->
	<select id="movieListZzimCount" parameterType="MovieList" resultType="MovieList">
		SELECT MOVIE_ZZIM
		FROM MOVIE_TBL
		WHERE MOVIE_NO = #{movieNo}
	</select>
	
	<!-- 최현지 : 결제를 위한 회원 이름, 휴대폰 번호, 이메일 조회 -->
	<select id="selectBuyerInfo" resultMap="memberResultMap">
		SELECT MEMBER_NAME, MEMBER_PHONE, MEMBER_EMAIL FROM MEMBER_TBL
		WHERE MEMBER_ID = #{memberId}
	</select>
	
</mapper>