<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<resultMap type="Member" id="memberResultMap">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PW"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberNick" column="MEMBER_NICK"/>
		<result property="memberBirth" column="MEMBER_BIRTH"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberImgName" column="MEMBER_IMG_NAME"/>
		<result property="memberImgRename" column="MEMBER_IMG_RENAME"/>
		<result property="memberImgPath" column="MEMBER_IMG_PATH"/>
		<result property="memberSignUpDate" column="MEMBER_SIGNUP_DATE"/>
		<result property="memberLevel" column="MEMBER_LEVEL"/>
		<result property="memberPoint" column="MEMBER_POINT"/>
		<result property="socialCode" column="SOCIAL_CODE"/>
		<result property="socialType" column="SOCIAL_TYPE"/>
		<result property="memberYn" column="MEMBER_YN"/>
		<result property="mateStatus" column="MATE_STATUS"/>
		<result property="mateReportCount" column="MATE_REPORT_COUNT"/>
		<result property="mateRestartDate" column="MATE_RESTART_DATE"/>
		<result property="memberType" column="MEMBER_TYPE"/>
	</resultMap>
	<resultMap type="Zzim" id="zzimResultMap">
		<id property="zzimNo" column="ZZIM_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="movieNo" column="MOVIE_NO"/>
		<result property="zzimDate" column="ZZIM_DATE"/>
	</resultMap>

	
	<!-- 회원가입 -->
	<insert id="insertMember">
		INSERT INTO MEMBER_TBL(MEMBER_ID, MEMBER_PW, MEMBER_NAME, 
			MEMBER_NICK, MEMBER_BIRTH, MEMBER_GENDER, MEMBER_PHONE, 
			MEMBER_EMAIL, MEMBER_IMG_NAME, MEMBER_IMG_RENAME, 
			MEMBER_IMG_PATH, SOCIAL_CODE, SOCIAL_TYPE)
			VALUES (#{memberId}, #{memberPwd}, #{memberName}, #{memberNick}, #{memberBirth}, 
	        #{memberGender}, #{memberPhone}, #{memberEmail}, #{memberImgName}, #{memberImgRename}, 
	        #{memberImgPath}, #{socialCode}, #{socialType})
	</insert>
	
	<!-- 사용자 로그인 -->
	<select id="selectLoginOne" resultMap="memberResultMap">
		SELECT MEMBER_ID, MEMBER_NAME, MEMBER_NICK, MEMBER_BIRTH, MEMBER_GENDER
        , MEMBER_PHONE, MEMBER_EMAIL, MEMBER_IMG_RENAME, MEMBER_IMG_PATH, MEMBER_SIGNUP_DATE
        , MEMBER_LEVEL, MEMBER_POINT, SOCIAL_CODE, SOCIAL_TYPE, MEMBER_YN
        , MATE_STATUS, MATE_REPORT_COUNT, MATE_RESTART_DATE, MEMBER_TYPE
        FROM MEMBER_TBL
		WHERE MEMBER_ID = #{memberId} 
		AND MEMBER_PW = #{memberPwd}
		AND MEMBER_YN = 'Y'
        AND MEMBER_TYPE = #{memberType}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL
		WHERE MEMBER_NAME = #{memberName}
		AND MEMBER_PHONE = #{memberPhone}
		AND MEMBER_BIRTH = #{memberBirth}
	</select>
	
	<!-- 비밀번호 찾기 (회원 정보 조회) -->
	<select id="findPassword" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_PHONE = #{memberPhone}
	</select>
	
	<!-- 관리자 로그인 -->
	<select id="selectAdminLogin" resultMap="memberResultMap">
		SELECT MEMBER_ID FROM MEMBER_TBL
		WHERE MEMBER_ID = #{memberId} 
		AND MEMBER_PW = #{memberPwd}
		AND MEMBER_YN = 'Y'
        AND MEMBER_TYPE = #{memberType}
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id="checkIdDuplicate" resultType="_int">
		SELECT COUNT(*) FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId} AND MEMBER_YN = 'Y'
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER_TBL
		    SET MEMBER_IMG_NAME = #{memberImgName}
		    , MEMBER_IMG_RENAME = #{memberImgRename}
		    , MEMBER_IMG_PATH = #{memberImgPath}
		    , MEMBER_PW = #{memberPwd}
		    , MEMBER_NICK = #{memberNick}
		    , MEMBER_PHONE = #{memberPhone}
		    , MEMBER_EMAIL = #{memberEmail}
		    WHERE MEMBER_ID = #{memberId}
	</update>
	
	<!-- 마이페이지 -->
	<select id="selectOneById" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL
		WHERE MEMBER_ID = #{memberId} AND MEMBER_YN = 'Y'
	</select>
	
	<!-- 회원정보 조회 -->
	<select id="selectOneByDetailId" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL
		WHERE MEMBER_ID = #{memberId } AND MEMBER_YN = 'Y'
	</select>
	
	
	<!-- 영화 좋아요  구현 전-->
	<insert id="createMovieZzim">
		INSERT INTO ZZIM_TBL (ZZIM_NO, MEMBER_ID, MOVIE_NO, ZZIM_DATE)
		VALUES (#{zzimNo}, #{MEMBER_ID}, #{movieNo}, SYSDATE)
	</insert>
	
	
	
	
	
</mapper>