<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieMapper">
	<resultMap type="Movie" id="MovieResultMap">
		<id property="movieNo" column="MOVIE_NO"/>
		<result property="movieTitle" column="MOVIE_TITLE" />
		<result property="movieGenre" column="MOVIE_GENRE" />
		<result property="movieRuntime" column="MOVIE_RUNTIME" />
		<result property="movieDirector" column="MOVIE_DIRECTOR" />
		<result property="movieActor" column="MOVIE_ACTOR" />
		<result property="movieAge" column="MOVIE_AGE" />
		<result property="movieStartday" column="MOVIE_STARTDAY" />
		<result property="movieTicketingday" column="MOVIE_TICKETINGDAY" />
		<result property="movieEndday" column="MOVIE_ENDDAY" />
		<result property="movieContent" column="MOVIE_CONTENT" />
		<result property="movieSee" column="MOVIE_SEE" />
		<result property="movieCreate" column="MOVIE_CREATE" />
		<result property="manCount" column="MAN_COUNT" />
		<result property="womanCount" column="WOMAN_COUNT" />
		<result property="oneAgeCount" column="ONE_AGE_COUNT" />
		<result property="twoAgeCount" column="TWO_AGE_COUNT" />
		<result property="threeAgeCount" column="THREE_AGE_COUNT" />
		<result property="fourAgeCount" column="FOUR_AGE_COUNT" />
		<result property="fiveAgeCount" column="FIVE_AGE_COUNT" />
	</resultMap>
	<!-- 영화 등록(관리자) -->
	<insert id="insertMovie">
		INSERT INTO MOVIE_TBL VALUES(SEQ_MOVIE_NO.NEXTVAL, #{movieTitle}, #{movieGenre}, #{movieRuntime}, #{movieDirector}, #{movieActor}, #{movieAge}, #{movieStartday}, #{movieTicketingday}, #{movieEndday}, #{movieContent}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<!-- 영화 사진 등록(관리자) -->
	<insert id="insertMovieImg">
		INSERT INTO MOVIE_IMG_TBL VALUES(SEQ_MOVIE_IMG_NO.NEXTVAL, SEQ_MOVIE_NO.CURRVAL, #{movieImgName}, #{movieImgRename}, #{movieImgPath})
	</insert>
	<!-- 영화 영상 등록(관리자) -->
	<insert id="insertMovieVideo">
		INSERT INTO MOVIE_VIDEO_TBL VALUES(SEQ_MOVIE_VIDEO_NO.NEXTVAL, SEQ_MOVIE_NO.CURRVAL, #{movieVideoName}, #{movieVideoRename}, #{movieVideoPath})
	</insert>
	<!-- 영화 리스트(관리자) -->
	<select id="selectAllMovie" resultMap="MovieResultMap">
		SELECT * FROM MOVIE_TBL ORDER BY MOVIE_NO DESC
	</select>
	<!-- 영화 검색(관리자) -->
	<select id="selectSearchMovie" resultMap="MovieResultMap">
		SELECT * FROM MOVIE_TBL
		WHERE MOVIE_Title LIKE '%' || #{searchName} || '%'
	</select>
</mapper>