<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieMapper">
	<resultMap type="Movie" id="MovieResultMap">
		<id property="movieNo" column="MOVIE_NO"/>
		<result property="movieTitle" column="MOVIE_TITLE" />
		<result property="movieGenre" column="MOVIE_GENRE" />
		<result property="movieRuntime" column="MOVIE_RUNTIME" />
		<result property="movieDirector" column="MOVIE_DIRECTOR" />
		<result property="movieActor" column="MOVIE_ACTOR" />
		<result property="movieAge" column="MOVIE_AGE" />
		<result property="movieStartday" column="MOVIE_STARTDAY" />
		<result property="movieTicketingday" column="MOVIE_TICKETINGDAY" />
		<result property="movieEndday" column="MOVIE_ENDDAY" />
		<result property="movieContent" column="MOVIE_CONTENT" />
		<result property="movieSee" column="MOVIE_SEE" />
		<result property="movieCreate" column="MOVIE_CREATE" />
		<result property="manCount" column="MAN_COUNT" />
		<result property="womanCount" column="WOMAN_COUNT" />
		<result property="oneAgeCount" column="ONE_AGE_COUNT" />
		<result property="twoAgeCount" column="TWO_AGE_COUNT" />
		<result property="threeAgeCount" column="THREE_AGE_COUNT" />
		<result property="fourAgeCount" column="FOUR_AGE_COUNT" />
		<result property="fiveAgeCount" column="FIVE_AGE_COUNT" />
		<result property="movieZzim" column="MOVIE_ZZIM"/>
		<result property="zzimNo" column="ZZIM_NO"/>
	</resultMap>
	<resultMap type="MovieImg" id="MovieImgResultMap">
		<id property="movieImgNo" column="MOVIE_IMG_NO" />
		<result property="movieNo" column="MOVIE_NO" />
		<result property="movieImgName" column="MOVIE_IMG_NAME" />
		<result property="movieImgRename" column="MOVIE_IMG_RENAME" />
		<result property="movieImgPath" column="MOVIE_IMG_PATH" />
	</resultMap>
	<resultMap type="MovieVideo" id="MovieVideoResultMap">
		<id property="movieVideoNo" column="MOVIE_VIDEO_NO" />
		<result property="movieNo" column="MOVIE_NO" />
		<result property="movieVideoName" column="MOVIE_VIDEO_NAME" />
		<result property="movieVideoRename" column="MOVIE_VIDEO_RENAME" />
		<result property="movieVideoPath" column="MOVIE_VIDEO_PATH" />
	</resultMap>
	<resultMap type="MovieTime" id="MovieTimeResultMap">
		<id property="movieTimeNo" column="MOVIE_TIME_NO" />
		<result property="cinemaNo" column="CINEMA_NO" />
		<result property="theaterNo" column="THEATER_NO" />
		<result property="movieNo" column="MOVIE_NO" />
		<result property="movieDay" column="MOVIE_DAY" />
		<result property="movieStart" column="MOVIE_START" />
		<result property="movieEnd" column="MOVIE_END" />
		<result property="movieTicket" column="MOVIE_TICKET" />
		<result property="movieSeat" column="MOVIE_SEAT" />
		<result property="movieName" column="MOVIE_NAME" />
		<result property="theaterName" column="THEATER_NAME" />
	</resultMap>
	<resultMap type="MovieList" id="MovieListResultMap">
		<id property="movieNo" column="MOVIE_NO"/>
		<result property="theaterNo" column="THEATER_NO"/>
		<result property="movieTitle" column="MOVIE_TITLE"/>
		<result property="movieAge" column="MOVIE_AGE"/>
		<result property="movieStartday" column="MOVIE_STARTDAY"/>
		<result property="movieImgName" column="MOVIE_IMG_NAME"/>
		<result property="movieImgRename" column="MOVIE_IMG_RENAME"/>
		<result property="movieImgPath" column="MOVIE_IMG_PATH"/>
		<result property="theaterName" column="THEATER_NAME" />
		<result property="movieDay" column="MOVIE_DAY"/>
		<result property="movieStart" column="MOVIE_START" />
		<result property="movieEnd" column="MOVIE_END" />
		<result property="movieTicket" column="MOVIE_TICKET" />
		<result property="movieSeat" column="MOVIE_SEAT" />
		<result property="movieZzim" column="MOVIE_ZZIM"/>
		<result property="movieZzim" column="ZZIM_NO"/>
	</resultMap>
	<!-- 영화 등록(관리자) -->
	<insert id="insertMovie">
		INSERT INTO MOVIE_TBL VALUES(SEQ_MOVIE_NO.NEXTVAL, #{movieTitle}, #{movieGenre}, #{movieRuntime}, #{movieDirector}, #{movieActor}, #{movieAge}, #{movieStartday}, #{movieTicketingday}, #{movieEndday}, #{movieContent}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<!-- 영화 사진 등록(관리자) -->
	<insert id="insertMovieImg">
		INSERT INTO MOVIE_IMG_TBL VALUES(SEQ_MOVIE_IMG_NO.NEXTVAL, SEQ_MOVIE_NO.CURRVAL, #{movieImgName}, #{movieImgRename}, #{movieImgPath})
	</insert>
	<!-- 영화 영상 등록(관리자) -->
	<insert id="insertMovieVideo">
		INSERT INTO MOVIE_VIDEO_TBL VALUES(SEQ_MOVIE_VIDEO_NO.NEXTVAL, SEQ_MOVIE_NO.CURRVAL, #{movieVideoName}, #{movieVideoRename}, #{movieVideoPath})
	</insert>
	<!-- 상영 영화 등록(관리자) -->
	<insert id="insertMovieTime">
		INSERT INTO MOVIE_TIME_TBL VALUES(SEQ_MOVIE_TIME_NO.NEXTVAL, #{cinemaNo}, #{theaterNo}, #{movieNo}, #{movieDay}, #{movieStart}, #{movieEnd}, #{movieTicket}, #{movieSeat})
	</insert>
	<!-- 영화 수정(관리자) -->
	<update id="updateOneMovie">
		UPDATE MOVIE_TBL SET MOVIE_TITLE = #{movieTitle}, MOVIE_GENRE = #{movieGenre}, MOVIE_RUNTIME = #{movieRuntime}, MOVIE_DIRECTOR = #{movieDirector}, MOVIE_ACTOR = #{movieActor}, MOVIE_AGE = #{movieAge}, MOVIE_STARTDAY = #{movieStartday}, MOVIE_TICKETINGDAY = #{movieTicketingday}, MOVIE_ENDDAY = #{movieEndday}, MOVIE_CONTENT = #{movieContent} WHERE MOVIE_NO = #{movieNo} 
	</update>
	<!-- 영화 수정 (사진 수정) -->
	<update id="updateOneMovieImg">
		UPDATE MOVIE_IMG_TBL SET MOVIE_IMG_NAME = #{movieImgName}, MOVIE_IMG_RENAME = #{movieImgRename}, MOVIE_IMG_PATH = #{movieImgPath} WHERE MOVIE_IMG_NO = ${movieImgNo}
	</update>
	<!-- 영화 삭제(관리자) -->
	<delete id="deleteOneMovie">
		DELETE FROM MOVIE_TBL WHERE MOVIE_NO = #{movieNo}
	</delete>
	<!-- 영화 사진 삭제 - 영화번호기준(관리자) -->
	<delete id="deleteOneMovieImg">
		DELETE FROM MOVIE_IMG_TBL WHERE MOVIE_NO = #{movieNo}
	</delete>
	<!-- 영화 사진 삭제 - 영화사진번호기준(관리자) -->
	<delete id="deleteMovieImg">
		DELETE FROM MOVIE_IMG_TBL WHERE MOVIE_IMG_NO = #{movieImgNo}
	</delete>
	<!-- 영화 영상 삭제(관리자) -->
	<delete id="deleteOneMovieVideo">
		DELETE FROM MOVIE_VIDEO_TBL WHERE MOVIE_NO = #{movieNo}
	</delete>
	<!-- 영화 리스트(관리자) -->
	<select id="selectAllMovie" resultMap="MovieResultMap">
		SELECT * FROM MOVIE_TBL ORDER BY MOVIE_NO DESC
	</select>
	<!-- 현재 상영 영화(관리자) -->
	<select id="selectNowMovie" resultMap="MovieResultMap">
		SELECT * FROM MOVIE_TBL WHERE TO_CHAR(MOVIE_ENDDAY, 'yyyyMMdd') >= TO_CHAR(SYSDATE, 'yyyyMMdd')
	</select>
	<!-- 영화 검색(관리자) -->
	<select id="selectSearchMovie" resultMap="MovieResultMap">
		SELECT * FROM MOVIE_TBL
		WHERE MOVIE_TITLE LIKE '%' || #{searchName} || '%'
	</select>
	<!-- 영화 상세(관리자) -->
	<select id="selectOneMovie" resultMap="MovieResultMap">
		SELECT * FROM MOVIE_TBL WHERE MOVIE_NO = #{movieNo}
	</select>
	<!-- 영화 상세 사진(관리자) -->
	<select id="selectAllMovieImg" resultMap="MovieImgResultMap">
		SELECT * FROM MOVIE_IMG_TBL WHERE MOVIE_NO = #{movieNo} ORDER BY MOVIE_IMG_NO
	</select>
	<!-- 영화 상세 영상(관리자) -->
	<select id="selectAllMovieVideo" resultMap="MovieVideoResultMap">
		SELECT * FROM MOVIE_VIDEO_TBL WHERE MOVIE_NO = #{movieNo} ORDER BY MOVIE_VIDEO_NO
	</select>
	<!-- 상영 영화 관리 출력(관리자) -->
	<select id="selectAllMovieTime" resultMap="MovieTimeResultMap">
		SELECT MOVIE_TITLE AS MOVIE_NAME, MOVIE_DAY, MOVIE_START, MOVIE_END FROM
		(SELECT * FROM MOVIE_TIME_TBL WHERE THEATER_NO = #{theaterNo}) MTT
		JOIN MOVIE_TBL MT ON MTT.MOVIE_NO = MT.MOVIE_NO
	</select>
	<select id="selectAllCinemaMovie" resultMap="MovieTimeResultMap">
		SELECT THEATER_NAME AS THEATER_NAME, MOVIE_NO, MOVIE_DAY, MOVIE_START, MOVIE_END, MOVIE_TICKET, MOVIE_SEAT FROM
		(SELECT * FROM MOVIE_TIME_TBL WHERE CINEMA_NO = #{cinemaNo}) MTT
		JOIN THEATER_TBL TT ON MTT.THEATER_NO = TT.THEATER_NO
	</select>
	<select id="selectCinemaMovieByDate" resultMap="MovieTimeResultMap" >
		SELECT THEATER_NAME AS THEATER_NAME, MOVIE_NO, MOVIE_DAY, MOVIE_START, MOVIE_END, MOVIE_TICKET, MOVIE_SEAT FROM
		(SELECT * FROM MOVIE_TIME_TBL WHERE CINEMA_NO = #{cinemaNo} AND MOVIE_DAY=#{movieDay}) MTT
		JOIN THEATER_TBL TT ON MTT.THEATER_NO = TT.THEATER_NO
	</select>
	
	<!-- 현재 상영 영화 리스트 -->
	<select id="selectAllMovieNow" resultMap="MovieListResultMap">
		WITH MOVIES 
		AS (SELECT A.MOVIE_NO, A.MOVIE_TITLE, A.MOVIE_AGE, A.MOVIE_STARTDAY, A.MOVIE_ENDDAY, A.MOVIE_ZZIM, B.MOVIE_IMG_NAME, B.MOVIE_IMG_RENAME, B.MOVIE_IMG_PATH, ROW_NUMBER() 
		OVER(PARTITION BY A.MOVIE_NO ORDER BY B.MOVIE_IMG_RENAME)
		AS C_NUM FROM MOVIE_TBL A JOIN MOVIE_IMG_TBL B ON A.MOVIE_NO = B.MOVIE_NO)
		SELECT * FROM MOVIES 
		WHERE C_NUM = 1 AND MOVIE_ENDDAY > SYSDATE AND MOVIE_STARTDAY <![CDATA[<=]]> SYSDATE
	</select>
	<!-- 현재 상영 영화 리스트 페이징 처리 -->
	<select id="selectNowMovieCount" resultType="_int">
		SELECT COUNT(*) FROM MOVIE_TBL
		WHERE MOVIE_ENDDAY > SYSDATE AND MOVIE_STARTDAY <![CDATA[<=]]> SYSDATE
	</select>
	<!-- 상영 예정 영화 리스트 -->
	<select id="selectAllMovieAfter" resultMap="MovieListResultMap">
		WITH MOVIES 
		AS (SELECT A.MOVIE_NO, A.MOVIE_TITLE, A.MOVIE_AGE, A.MOVIE_STARTDAY, A.MOVIE_ENDDAY, A.MOVIE_ZZIM, B.MOVIE_IMG_NAME, B.MOVIE_IMG_RENAME, B.MOVIE_IMG_PATH, ROW_NUMBER() 
		OVER(PARTITION BY A.MOVIE_NO ORDER BY B.MOVIE_IMG_RENAME)
		AS C_NUM FROM MOVIE_TBL A JOIN MOVIE_IMG_TBL B ON A.MOVIE_NO = B.MOVIE_NO)
		SELECT * FROM MOVIES 
		WHERE C_NUM = 1 AND MOVIE_ENDDAY >= SYSDATE AND MOVIE_STARTDAY >= SYSDATE
	</select>
	<!-- 상영 예정 영화 리스트 페이징 처리 -->
	<select id="selectAfterMovieCount" resultType="_int">
		SELECT COUNT(*) FROM MOVIE_TBL
		WHERE MOVIE_ENDDAY >= SYSDATE AND MOVIE_STARTDAY >= SYSDATE
	</select>
	<!-- 상영 종료 영화 리스트 -->
	<select id="selectAllMovieBefore" resultMap="MovieListResultMap">
		WITH MOVIES 
		AS (SELECT A.MOVIE_NO, A.MOVIE_TITLE, A.MOVIE_AGE, A.MOVIE_STARTDAY, A.MOVIE_ENDDAY, A.MOVIE_ZZIM, B.MOVIE_IMG_NAME, B.MOVIE_IMG_RENAME, B.MOVIE_IMG_PATH, ROW_NUMBER() 
		OVER(PARTITION BY A.MOVIE_NO ORDER BY B.MOVIE_IMG_RENAME)
		AS C_NUM FROM MOVIE_TBL A JOIN MOVIE_IMG_TBL B ON A.MOVIE_NO = B.MOVIE_NO)
		SELECT * FROM MOVIES 
		WHERE C_NUM = 1 AND MOVIE_ENDDAY <![CDATA[<=]]> SYSDATE
	</select>
	<!-- 상영 종료 영화 리스트 페이징 처리 -->
	<select id="selectBeforeMovieCount" resultType="_int">
		SELECT COUNT(*) FROM MOVIE_TBL
		WHERE MOVIE_ENDDAY <![CDATA[<=]]> SYSDATE
	</select>
	<!-- 영화 검색 완료 리스트 -->
	<select id="selectAllMovieList" resultMap="MovieListResultMap">
		WITH MOVIES
		AS (SELECT A.MOVIE_NO, A.MOVIE_TITLE, A.MOVIE_AGE, A.MOVIE_STARTDAY, A.MOVIE_ENDDAY, B.MOVIE_IMG_NAME, B.MOVIE_IMG_RENAME, B.MOVIE_IMG_PATH, ROW_NUMBER() OVER(PARTITION BY A.MOVIE_NO ORDER BY B.MOVIE_IMG_RENAME)
		AS C_NUM FROM MOVIE_TBL A JOIN MOVIE_IMG_TBL B ON A.MOVIE_NO = B.MOVIE_NO)
		SELECT * FROM MOVIES 
		WHERE C_NUM = 1 
	</select>
	<!-- 영화 검색 기능 -->
	<select id="selectSearchMovieList" resultMap="MovieListResultMap">
		WITH MOVIES
		AS (SELECT A.MOVIE_NO, A.MOVIE_TITLE, A.MOVIE_ACTOR, A.MOVIE_AGE, A.MOVIE_STARTDAY, A.MOVIE_ENDDAY, B.MOVIE_IMG_NAME, B.MOVIE_IMG_RENAME, B.MOVIE_IMG_PATH, ROW_NUMBER() OVER(PARTITION BY A.MOVIE_NO ORDER BY B.MOVIE_IMG_RENAME)
		AS C_NUM FROM MOVIE_TBL A JOIN MOVIE_IMG_TBL B ON A.MOVIE_NO = B.MOVIE_NO)
		SELECT * FROM MOVIES
		WHERE C_NUM = 1
		AND MOVIE_TITLE LIKE '%' || #{searchValue} || '%'
	</select>
	<!-- 영화 예매 - 영화관 별 상영 영화 -->
	<select id="selectAllMovieCinema" resultMap="MovieResultMap">
		SELECT DISTINCT MT.MOVIE_NO, MT.MOVIE_TITLE, MT.MOVIE_ENDDAY
		FROM MOVIE_TBL MT, MOVIE_TIME_TBL MTT
		WHERE MTT.CINEMA_NO = #{cinemaNo}
		AND MTT.MOVIE_DAY = TO_CHAR(SYSDATE,'YYYY-MM-DD')
		AND MT.MOVIE_NO = MTT.MOVIE_NO
	</select>
	<!-- 예매 현재 상영 영화 출력 -->
	<select id="selectTicketMovieOne" resultMap="MovieListResultMap">
		SELECT DISTINCT MT.MOVIE_NO, MT.MOVIE_TITLE
		FROM MOVIE_TBL MT, CINEMA_TBL CT, MOVIE_TIME_TBL MTT 
		WHERE MT.MOVIE_NO = #{movieNo}
		AND MTT.MOVIE_DAY = #{movieDay}
		AND MTT.CINEMA_NO = #{cinemaNo}
	</select>
	<!-- 예매 현재 상영 영화 정보 출력 -->
	<select id="selectTicketMovieByDay" resultMap="MovieListResultMap">
		SELECT MT.MOVIE_NO, TT.THEATER_NO, MT.MOVIE_TITLE, MT.MOVIE_AGE, TT.THEATER_NAME, MTT.MOVIE_NO, MTT.MOVIE_DAY, MTT.MOVIE_START, MTT.MOVIE_END, MTT.MOVIE_TICKET, MTT.MOVIE_SEAT
		FROM MOVIE_TBL MT, THEATER_TBL TT, MOVIE_TIME_TBL MTT
		WHERE MT.MOVIE_NO = MTT.MOVIE_NO
		AND TT.THEATER_NO = MTT.THEATER_NO
		AND MTT.MOVIE_DAY = #{movieDay}
		AND MTT.CINEMA_NO = #{cinemaNo}
		ORDER BY MOVIE_START
	</select>
</mapper>