<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreMapper">
	<!-- PRODUCT_TBL -->
	<resultMap type="Product" id="productResultMap">
		<id property="productNo" column="PRODUCT_NO" />
		<result property="productName" column="PRODUCT_NAME" />
		<result property="productType" column="PRODUCT_TYPE" />
		<result property="productPrice" column="PRODUCT_PRICE" />
		<result property="productDesc" column="PRODUCT_DESC" />
		<result property="productOrder" column="PRODUCT_ORDER" />
		<result property="productImgName" column="PRODUCT_IMG_NAME" />
		<result property="productImgRename" column="PRODUCT_IMG_RENAME" />
		<result property="productImgPath" column="PRODUCT_IMG_PATH" />
	</resultMap>
	
	<!-- PRODUCT_TYPE_TBL -->
	<resultMap type="ProductType" id="productTypeResultMap">
		<id property="productTypeNo" column="PRODUCT_TYPE_NO" />
		<result property="productType" column="PRODUCT_TYPE" />
	</resultMap>
	
	<!-- CART_TBL -->
	<resultMap type="Cart" id="cartResultMap">
		<id property="cartNo" column="CART_NO" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="productNo" column="PRODUCT_NO" />
		<result property="productName" column="PRODUCT_NAME" />
		<result property="productTypeNo" column="PRODUCT_TYPE_NO" />
		<result property="productType" column="PRODUCT_TYPE" />
		<result property="productPrice" column="PRODUCT_PRICE" />
		<result property="productCount" column="PRODUCT_COUNT" />
		<result property="productImgRename" column="PRODUCT_IMG_RENAME" />
		<result property="productStatus" column="PRODUCT_STATUS" />
	</resultMap>
	
	<!-- STORE_ORDER_TBL -->
	<resultMap type="StoreOrder" id="storeOrderResultMap">
		<id property="orderNo" column="ORDER_NO" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="productName" column="PRODUCT_NAME" />
		<result property="payAmount" column="PAY_AMOUNT" />
		<result property="payDate" column="PAY_DATE" />
		<result property="expiryDate" column="EXPIRY_DATE" />
		<result property="availability" column="AVAILABILITY" />
	</resultMap>

	<!-- STORE_ORDER_DETAIL_TBL -->
	<resultMap type="StoreOrderDetail"
		id="storeOrderDetailResultMap">
		<id property="orderNo" column="ORDER_NO" />
		<id property="productName" column="PRODUCT_NAME" />
		<result property="productCount" column="PRODUCT_COUNT" />
	</resultMap>
	
	<!-- SELECT(BEST_PRODUCT) -->
	<resultMap type="BestProduct" id="bestProductResultMap">
		<id property="productNo" column="PRODUCT_NO" />
		<result property="productName" column="PRODUCT_NAME" />
		<result property="productTypeNo" column="PRODUCT_TYPE_NO" />
		<result property="productType" column="PRODUCT_TYPE" />
		<result property="productPrice" column="PRODUCT_PRICE" />
		<result property="productImgRename" column="PRODUCT_IMG_RENAME" />
		<result property="totalCount" column="TOTAL_COUNT" />
		<result property="rank" column="RANK" />
	</resultMap>

	<!-- 관리자 - 상품 등록 -->
	<insert id="insertProduct">
		INSERT INTO PRODUCT_TBL
		VALUES(SEQ_PRODUCT_NO.NEXTVAL, #{productName}, #{productType}, #{productPrice}, #{productDesc},
		(SELECT MAX(PRODUCT_ORDER) + 1 FROM PRODUCT_TBL), #{productImgName}, #{productImgRename}, #{productImgPath})
	</insert>

	<!-- 사용자 - 장바구니에 새로운 상품 담기 -->
	<insert id="insertProductToCart">
		INSERT INTO CART_TBL
		VALUES(SEQ_CART_NO.NEXTVAL,
		#{memberId}, #{productNo}, #{productName}, #{productTypeNo}, #{productType},
		#{productPrice}, #{productCount}, #{productImgRename}, DEFAULT)
	</insert>

	<!-- 사용자 - 주문 정보 저장 -->
	<insert id="insertStoreOrder">
		INSERT INTO STORE_ORDER_TBL
		VALUES(#{orderNo}||LPAD(SEQ_ORDER_NO.NEXTVAL, 4, 0), #{memberId},
		#{productName}, #{payAmount}, #{payDate}, #{expiryDate}, #{availability})
	</insert>

	<!-- 사용자 - 주문 상세 정보 저장 (상품 목록, 상품 상세) -->
	<insert id="insertOneStoreOrderDetail">
		INSERT INTO STORE_ORDER_DETAIL_TBL
		VALUES(#{orderNo}, #{productName}, #{productCount})
	</insert>

	<!-- 사용자 - 주문 상세 정보 저장 (장바구니) -->
	<insert id="insertManyStoreOrderDetail">
		INSERT ALL
		<foreach collection="list" item="item">
			INTO STORE_ORDER_DETAIL_TBL VALUES(#{item.orderNo}, #{item.productName}, #{item.productCount})
		</foreach>
		SELECT * FROM DUAL
	</insert>

	<!-- 사용자 - 장바구니에 있는 상품을 담으면 해당 상품 수량 증가 -->
	<update id="updateProductCountUp">
		UPDATE CART_TBL SET PRODUCT_COUNT = PRODUCT_COUNT + #{productCount}
		WHERE MEMBER_ID = #{memberId} AND PRODUCT_NO = #{productNo}
	</update>

	<!-- 사용자 - 장바구니에서 해당 상품 수량 변경 -->
	<update id="updateProductCountInCart">
		UPDATE CART_TBL SET PRODUCT_COUNT = #{productCount}
		WHERE CART_NO = #{cartNo}
	</update>

	<!-- 관리자 - 상품 수정 -->
	<update id="updateProduct">
		UPDATE PRODUCT_TBL SET
		PRODUCT_NAME = #{productName},
		PRODUCT_TYPE = #{productType},
		PRODUCT_PRICE = ${productPrice},
		PRODUCT_DESC = #{productDesc},
		PRODUCT_IMG_NAME = #{productImgName},
		PRODUCT_IMG_RENAME = #{productImgRename},
		PRODUCT_IMG_PATH = #{productImgPath}
		WHERE PRODUCT_NO = #{productNo}
	</update>

	<!-- 관리자 - 상품 재배치 -->
	<update id="updateProductOrder" parameterType="list">
		<foreach collection="list" item="item" index="index" open="DECLARE BEGIN" close="; END;" separator=";">
			UPDATE PRODUCT_TBL SET PRODUCT_ORDER = #{index}
			WHERE PRODUCT_NO = #{item}
		</foreach>
	</update>

	<!-- 사용자 - 장바구니에서 상품 삭제 -->
	<delete id="deleteProductsInCart">
		DELETE FROM CART_TBL WHERE CART_NO IN
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>

	<!-- 관리자 - 상품 삭제 -->
	<delete id="deleteProduct">
		DELETE FROM PRODUCT_TBL WHERE PRODUCT_NO = #{productNo}
	</delete>

	<!-- 공통 - 상품 목록 조회 -->
	<select id="selectProductList" resultMap="productResultMap">
		SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_TYPE, PRODUCT_PRICE, PRODUCT_DESC, PRODUCT_IMG_RENAME
		FROM PRODUCT_TBL
		ORDER BY PRODUCT_ORDER ASC
	</select>

	<!-- 공통 - 상품 유형 목록 조회 -->
	<select id="selectProductTypeList"
		resultMap="productTypeResultMap">
		SELECT DISTINCT PRODUCT_TYPE_NO, PRODUCT_TYPE
		FROM PRODUCT_TYPE_TBL
		JOIN PRODUCT_TBL
		USING (PRODUCT_TYPE)
		ORDER BY PRODUCT_TYPE_NO ASC
	</select>

	<!-- 공통 - 상품 상세 조회 -->
	<select id="selectOneProduct" resultMap="productResultMap">
		SELECT *
		FROM PRODUCT_TBL
		WHERE PRODUCT_NO = #{productNo}
	</select>

	<!-- 사용자 - 장바구니에 있는 특정 상품 개수 조회 -->
	<select id="selectCountProductInCart" resultType="_int">
		SELECT COUNT(CART_NO)
		FROM CART_TBL
		WHERE MEMBER_ID = #{memberId} AND PRODUCT_NO = #{productNo}
	</select>

	<!-- 사용자 - 장바구니 번호 조회 -->
	<select id="selectCartNo" resultType="_int">
		SELECT CART_NO
		FROM CART_TBL
		WHERE MEMBER_ID = #{memberId} AND PRODUCT_NO = #{productNo}
	</select>

	<!-- 사용자 - 장바구니에 있는 특정 상품 수량 체크 -->
	<select id="selectProductCountByCartNo" resultType="_int">
		SELECT PRODUCT_COUNT
		FROM CART_TBL
		WHERE CART_NO = #{cartNo}
	</select>

	<!-- 사용자 - 장바구니 조회 -->
	<select id="selectMyCartList" resultMap="cartResultMap">
		SELECT CART_NO, MEMBER_ID, PRODUCT_NO, PRODUCT_NAME, PRODUCT_PRICE,
		PRODUCT_COUNT, PRODUCT_IMG_RENAME, PRODUCT_STATUS
		FROM CART_TBL
		WHERE MEMBER_ID = #{memberId}
	</select>

	<!-- 사용자 - 장바구니에서 선택한 상품 조회 -->
	<select id="selectCheckedCartList" resultMap="cartResultMap">
		SELECT * FROM CART_TBL WHERE CART_NO IN
		<foreach collection="array" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>

	<!-- 사용자 - 주문번호 조회 -->
	<select id="selectStoreOrderNo" resultType="string">
		SELECT ORDER_NO
		FROM STORE_ORDER_TBL
		WHERE MEMBER_ID = #{memberId} AND ORDER_NO LIKE #{orderNo}||'%'
	</select>

	<!-- 사용자 - 스토어 구매내역 조회 (1건) -->
	<select id="selectStoreOrder" resultMap="storeOrderResultMap">
		SELECT *
		FROM STORE_ORDER_TBL
		WHERE ORDER_NO = #{orderNo}
	</select>

	<!-- 사용자 - 스토어 구매내역 조회 (N건, 조회 필터 미사용) -->
	<select id="selectStoreOrderList" resultMap="storeOrderResultMap">
		SELECT ORDER_NO, PRODUCT_NAME, PAY_DATE, EXPIRY_DATE, PAY_AMOUNT, AVAILABILITY
		FROM STORE_ORDER_TBL
		WHERE MEMBER_ID = #{memberId}
	</select>

	<!-- 사용자 - 스토어 구매내역 조회 (N건, 조회 필터 사용) -->
	<select id="selectStoreOrderListBySearch" resultMap="storeOrderResultMap" parameterType="java.util.HashMap">
		SELECT ORDER_NO, PRODUCT_NAME, PAY_DATE, EXPIRY_DATE, PAY_AMOUNT, AVAILABILITY
		FROM STORE_ORDER_TBL
		WHERE MEMBER_ID = #{memberId}
		<!-- <if test="option != null"></if> -->
		<if test="period != null">
			AND
			<if test="period.equals('1주일')">
				SUBSTR(PAY_DATE, 1, 10) <![CDATA[>]]>
				TO_CHAR(SYSDATE - 7, 'yyyy-mm-dd')
			</if>
			<if test="period.equals('1개월')">
				SUBSTR(PAY_DATE, 1, 10) <![CDATA[>]]>
				TO_CHAR(ADD_MONTHS(SYSDATE, -1), 'yyyy-mm-dd')
			</if>
			<if test="period.equals('3개월')">
				SUBSTR(PAY_DATE, 1, 10) <![CDATA[>]]>
				TO_CHAR(ADD_MONTHS(SYSDATE, -3), 'yyyy-mm-dd')
			</if>
		</if>
		<if test="startDate != null and endDate != null">
			AND SUBSTR(PAY_DATE, 1, 10) <![CDATA[>]]> #{startDate}
			AND SUBSTR(PAY_DATE, 1, 10) <![CDATA[<]]> #{endDate}
		</if>
	</select>

	<!-- 사용자 - 스토어 구매내역 상세 조회 -->
	<select id="selectStoreOrderDetailList" resultMap="storeOrderDetailResultMap">
		SELECT *
		FROM STORE_ORDER_DETAIL_TBL
		WHERE ORDER_NO = #{orderNo}
	</select>


	<select id="selectBestProductList" resultMap="bestProductResultMap">
		SELECT P.PRODUCT_NO, P.PRODUCT_NAME, T.PRODUCT_TYPE_NO, T.PRODUCT_TYPE, P.PRODUCT_PRICE, P.PRODUCT_IMG_RENAME,
		R.TOTAL_COUNT, R.RANK
		FROM PRODUCT_TBL P,
			(SELECT PRODUCT_NAME, SUM(PRODUCT_COUNT) TOTAL_COUNT,
			RANK() OVER (ORDER BY SUM(PRODUCT_COUNT) DESC) RANK
			FROM STORE_ORDER_DETAIL_TBL GROUP BY PRODUCT_NAME ORDER BY TOTAL_COUNT DESC) R,
    		PRODUCT_TYPE_TBL T
		WHERE P.PRODUCT_NAME = R.PRODUCT_NAME
			AND P.PRODUCT_TYPE = T.PRODUCT_TYPE
			AND ROWNUM <![CDATA[<=]]> #{top}
	</select>

</mapper>