<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TheaterMapper">
	<!-- 상영관 등록(관리자) -->
	<insert id="insertTheater">
		INSERT INTO THEATER_TBL VALUES(SEQ_THEATER_NO.NEXTVAL, #{tCinemaNo}, #{theaterName}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
</mapper>