#findIdForm{
    margin: 100px auto 200px;
    padding: 0 100px;
    width: 800px;
    height: 500px;
    /* background-color: rgb(244, 244, 244); */
    box-sizing: border-box;
}

#findPassTitle{
    text-align: center;
    color: #0F1A3B;
    margin: 40px;
    font-size: 20pt;
}
#pass-find-info{
    margin-bottom: 15px;
}
.findId-input{
    line-height: 25px;
}
.input-wrap{
    display: flex;
    height: 50px;
    border-radius: 4px;
    align-items: center;
    margin-top: 5px;
    justify-content: center;
}
.input-box{
    flex: 0 1 auto;
    box-sizing: border-box;
    width: 80%;
    height: 45px;
    /* margin: 0 auto; */
    padding: 0 12px;
    border: 0.3px solid #0F1A3B;
    border-radius: 4px;
    background-color: #fff;
    font-size: 13px;
    font-weight: 800;
    color: #000;
    box-shadow: 0 0 0 30px #fff inset!important;
    transition: border .2s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
#memberEmail{
    width: 210px;
}
#container{
    /* background-color: rgb(244, 244, 244); */
    box-sizing: border-box;
    max-width: 385px;
    min-height: calc(100vh - 50px);
    margin: 0 auto;
    padding-bottom: 100px;
    line-height: 21px;
    text-align: center;
}
#find-btn{
    margin-top: 10px;
    width: 80%;
    height: 50px;
    background-color: #0F1A3B;
    border-radius: 0%;
    color: #ffffff;
    font-weight: bold;
    
}
.email-confirm{
    width: 90px;
    height: 45px;
    border: 1px solid #0F1A3B;
    background-color: #ffffff;
    display: flex;
    margin-left: 10px;
    text-align: center;
    line-height: 45px;
    justify-content: center;
    font-weight: bold;
    border-radius: 4px;
}


/* findID */
#findIdTitle{
    text-align: center;
    color: #0F1A3B;
    margin-bottom: 40px;
    font-size: 20pt;
}
#findInfo{
    font-size: 15pt;
    line-height: 25px;
    margin: 20px 0;
    color: #0F1A3B;
}
#joinSucceseForm{
    margin: 150px auto 250px;
    padding: 0 100px;
    width: 800px;
    height: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    color: #323232e3;
    text-align: center;

}
#succeseMessage{
    font-size: 25pt;
    font-weight: 500;
    line-height: 45px;
    
}
#j-btn-group{
    display: flex;
}

.main-btn-main, .main-btn-login{
    display: flex;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #0F1A3B;
    width: 180px;
    height: 50px;
    font-weight: 600;
    line-height: 50px;
    margin: 50px 5px;
    text-align: center;
    justify-content: center;
}
.main-btn-main{
    background-color: #0F1A3B;
    color: white;
}
.main-btn-login{
    background-color: white;
    color: #0F1A3B;
}
#findResult{
    font-size: 15pt;
    margin: 15px;
    font-weight: 800;
    
}
#signDate{
    font-size: 12pt;
    color: #0F1A3B;
}